<div class="vs-hero-carousel" data-height="900" data-container="1900"
style="background-color: #edece7; clip-path: polygon(0px 0px, 100% 0px, 100% 84%, 0% 100%);">
<!--
    Slide 1-->
<%if(categs[0].prods[0]){%>
    <div class="ls-slide"
        data-ls="bgcolor:#edece7; duration:10000; transition2d:5; timeshift:5000; kenburnsscale:1.2;">

        <img width="245" height="477" src="<%=categs[0].prods[0].imgs[0]%>" class="ls-l" alt="image"
            style="top:520px; left:-25px; background-size:inherit; background-position:inherit;"
            data-ls="offsetxin:left; durationin:1400; delayin:1400; easingin:easeOutQuint; offsetxout:left; easingout:easeOutQuint; parallax:true; parallaxlevel:9; parallaxaxis:both;">
        <img width="1003" height="595" src="<%=categs[0].prods[0].imgs[1]%>" class="ls-l" alt="image"
            style="top:140px; left:478px; background-size:inherit; background-position:inherit;"
            data-ls="durationin:1500; delayin:1300; easingin:easeOutQuint; durationout:1400; parallax:true; parallaxlevel:8; parallaxaxis:both; parallaxdistance:30;">
        <p style="top:-110px; left:999px; background-size:inherit; background-position:inherit; font-size:24px; border-top:90px solid #5ee16f; border-right:90px solid #e1aa5e; border-bottom:90px solid #e1aa5e; border-left:90px solid #e1aa5e; width:470px; height:470px; border-radius:100%;"
            class="ls-l"
            data-ls="offsetyin:top; durationin:1400; delayin:500; easingin:easeOutQuint; offsetyout:top; durationout:1100; fadeout:false; parallax:true; parallaxlevel:5; parallaxaxis:both; parallaxdistance:20;">
        </p>
        <img width="591" height="707" src="<%=categs[0].prods[0].imgs[2]%>" class="ls-l" alt="image"
            style="top:30px; left:1032px; background-size:inherit; background-position:inherit;"
            data-ls="durationin:1400; easingin:easeOutQuint; parallax:true; parallaxlevel:3; parallaxaxis:both; parallaxdistance:15;">

        <p style="top:586px; left:400px; font-weight:700; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c;"
            class="ls-l ls-hide-tablet ls-hide-phone"
            data-ls="durationin:1200; easingin:easeOutQuint; rotatexin:90; transformoriginin:50% 0% 0; durationout:1300; easingout:easeOutQuint; rotatexout:90; transformoriginout:50% 100% 0;">
            01</p>
        <p style="top:585px; left:430px; font-weight:500; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c;"
            class="ls-l ls-hide-tablet ls-hide-phone" data-ls="static:forever;">/</p>
        <p style="top:586px; left:450px; font-weight:500; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c;"
            class="ls-l ls-hide-tablet ls-hide-phone" data-ls="static:forever;">03</p>
        <a class="ls-l ls-hide-tablet ls-hide-phone" href="#next" target="_self"
            data-ls="hover:true; hovercolor:#e1aa5e; static:forever;">
            <div style="top:586px; left:500px; background-size:inherit; background-position:inherit; font-size:20px; color:#2c2c2c;"
                class=""><i class="fas fa-caret-right"></i></div>
        </a>
        <a class="ls-l ls-hide-tablet ls-hide-phone" href="#prev" target="_self"
            data-ls="hover:true; hovercolor:#e1aa5e; static:forever;">
            <div style="top:586px; left:361px; background-size:inherit; background-position:inherit; font-size:20px; color:#2c2c2c;"
                class=""><i class="fas fa-caret-left"></i></div>
        </a>
        <p style="top:205px; left:360px; font-weight:600; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c; letter-spacing:3px;"
            class="ls-l ls-hide-tablet ls-hide-phone"
            data-ls="offsetxin:-100; durationin:1200; delayin:800; easingin:easeOutQuint; transformoriginin:0% 50% 0; offsetxout:-100; minfontsize:16;">
            <%=categs[0].prods[0].name[lang] %>
        </p>
        <h1 style="top:342px; left:360px; font-weight:500; background-size:inherit; background-position:inherit; font-size:100px; font-family:Jost; color:#2c2c2c;"
            class="ls-l ls-hide-phone"
            data-ls="offsetxin:-100; durationin:1300; delayin:1200; easingin:easeOutQuint; offsetxout:-100;">
            <%=categs[0].name[lang] %>
        </h1>
        <!-- <p style="top:190px; left:360px; font-weight:600; background-size:inherit; background-position:inherit; font-family:Jost; color:#2c2c2c; font-size:26px; letter-spacing:3px;"
            class="ls-l ls-hide-desktop ls-hide-phone"
            data-ls="offsetxin:-100; durationin:1200; delayin:800; easingin:easeOutQuint; transformoriginin:0% 50% 0; offsetxout:-100;">
            New Arrivals 2022</p>
        <h1 style="top:212px; left:150px; font-weight:500; background-size:inherit; background-position:inherit; font-size:170px; font-family:Jost; color:#2c2c2c;"
            class="ls-l ls-hide-desktop ls-hide-tablet"
            data-ls="offsetxin:-100; durationin:1300; delayin:1000; easingin:easeOutQuint; offsetxout:-100;">
            Trendy
        </h1>
        <h1 style="top:402px; left:150px; font-weight:500; background-size:inherit; background-position:inherit; font-size:170px; font-family:Jost; color:#2c2c2c;"
            class="ls-l ls-hide-desktop ls-hide-tablet"
            data-ls="offsetxin:-100; durationin:1300; delayin:1200; easingin:easeOutQuint; offsetxout:-100;">
            Collection
        </h1> -->
    </div>
    <%}%>
        <% if(categs[1]){%>
            <%if(categs[1].prods[0]){%>
                <div class="ls-slide"
                    data-ls="bgcolor:#edece7; duration:10000; transition2d:5; timeshift:5000; kenburnsscale:1.2;">

                    <img width="245" height="477" src="<%=categs[1].prods[0].imgs[0]%>" class="ls-l"
                        alt="image"
                        style="top:520px; left:-25px; background-size:inherit; background-position:inherit;"
                        data-ls="offsetxin:left; durationin:1400; delayin:1400; easingin:easeOutQuint; offsetxout:left; easingout:easeOutQuint; parallax:true; parallaxlevel:9; parallaxaxis:both;">
                    <img width="1003" height="595" src="<%=categs[1].prods[0].imgs[1]%>" class="ls-l"
                        alt="image"
                        style="top:140px; left:478px; background-size:inherit; background-position:inherit;"
                        data-ls="durationin:1500; delayin:1300; easingin:easeOutQuint; durationout:1400; parallax:true; parallaxlevel:8; parallaxaxis:both; parallaxdistance:30;">
                    <p style="top:-110px; left:999px; background-size:inherit; background-position:inherit; font-size:24px; border-top:90px solid #5ee16f; border-right:90px solid #e1aa5e; border-bottom:90px solid #e1aa5e; border-left:90px solid #e1aa5e; width:470px; height:470px; border-radius:100%;"
                        class="ls-l"
                        data-ls="offsetyin:top; durationin:1400; delayin:500; easingin:easeOutQuint; offsetyout:top; durationout:1100; fadeout:false; parallax:true; parallaxlevel:5; parallaxaxis:both; parallaxdistance:20;">
                    </p>
                    <img width="591" height="707" src="<%=categs[1].prods[0].imgs[2]%>" class="ls-l"
                        alt="image"
                        style="top:30px; left:1032px; background-size:inherit; background-position:inherit;"
                        data-ls="durationin:1400; easingin:easeOutQuint; parallax:true; parallaxlevel:3; parallaxaxis:both; parallaxdistance:15;">

                    <p style="top:586px; left:400px; font-weight:700; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c;"
                        class="ls-l ls-hide-tablet ls-hide-phone"
                        data-ls="durationin:1200; easingin:easeOutQuint; rotatexin:90; transformoriginin:50% 0% 0; durationout:1300; easingout:easeOutQuint; rotatexout:90; transformoriginout:50% 100% 0;">
                        02</p>
                    <p style="top:585px; left:430px; font-weight:500; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c;"
                        class="ls-l ls-hide-tablet ls-hide-phone" data-ls="static:forever;">/</p>
                    <p style="top:586px; left:450px; font-weight:500; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c;"
                        class="ls-l ls-hide-tablet ls-hide-phone" data-ls="static:forever;">03</p>
                    <a class="ls-l ls-hide-tablet ls-hide-phone" href="#next" target="_self"
                        data-ls="hover:true; hovercolor:#e1aa5e; static:forever;">
                        <div style="top:586px; left:500px; background-size:inherit; background-position:inherit; font-size:20px; color:#2c2c2c;"
                            class=""><i class="fas fa-caret-right"></i></div>
                    </a>
                    <a class="ls-l ls-hide-tablet ls-hide-phone" href="#prev" target="_self"
                        data-ls="hover:true; hovercolor:#e1aa5e; static:forever;">
                        <div style="top:586px; left:361px; background-size:inherit; background-position:inherit; font-size:20px; color:#2c2c2c;"
                            class=""><i class="fas fa-caret-left"></i></div>
                    </a>
                    <p style="top:205px; left:360px; font-weight:600; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c; letter-spacing:3px;"
                        class="ls-l ls-hide-tablet ls-hide-phone"
                        data-ls="offsetxin:-100; durationin:1200; delayin:800; easingin:easeOutQuint; transformoriginin:0% 50% 0; offsetxout:-100; minfontsize:16;">
                        <%=categs[1].prods[0].name[lang] %>
                    </p>
                    <h1 style="top:342px; left:360px; font-weight:500; background-size:inherit; background-position:inherit; font-size:100px; font-family:Jost; color:#2c2c2c;"
                        class="ls-l ls-hide-phone"
                        data-ls="offsetxin:-100; durationin:1300; delayin:1200; easingin:easeOutQuint; offsetxout:-100;">
                        <%=categs[1].name[lang] %>
                    </h1>
                </div>
                <%}%>
                    <%}%>
                        <% if(categs[2]){%>
                            <%if(categs[2].prods[0]){%>
                                <div class="ls-slide"
                                    data-ls="bgcolor:#edece7; duration:10000; transition2d:5; timeshift:5000; kenburnsscale:1.2;">

                                    <img width="245" height="477" src="<%=categs[2].prods[0].imgs[0]%>"
                                        class="ls-l" alt="image"
                                        style="top:520px; left:-25px; background-size:inherit; background-position:inherit;"
                                        data-ls="offsetxin:left; durationin:1400; delayin:1400; easingin:easeOutQuint; offsetxout:left; easingout:easeOutQuint; parallax:true; parallaxlevel:9; parallaxaxis:both;">
                                    <img width="1003" height="595" src="<%=categs[2].prods[0].imgs[1]%>"
                                        class="ls-l" alt="image"
                                        style="top:140px; left:478px; background-size:inherit; background-position:inherit;"
                                        data-ls="durationin:1500; delayin:1300; easingin:easeOutQuint; durationout:1400; parallax:true; parallaxlevel:8; parallaxaxis:both; parallaxdistance:30;">
                                    <p style="top:-110px; left:999px; background-size:inherit; background-position:inherit; font-size:24px; border-top:90px solid #5ee16f; border-right:90px solid #e1aa5e; border-bottom:90px solid #e1aa5e; border-left:90px solid #e1aa5e; width:470px; height:470px; border-radius:100%;"
                                        class="ls-l"
                                        data-ls="offsetyin:top; durationin:1400; delayin:500; easingin:easeOutQuint; offsetyout:top; durationout:1100; fadeout:false; parallax:true; parallaxlevel:5; parallaxaxis:both; parallaxdistance:20;">
                                    </p>
                                    <img width="591" height="707" src="<%=categs[2].prods[0].imgs[2]%>"
                                        class="ls-l" alt="image"
                                        style="top:30px; left:1032px; background-size:inherit; background-position:inherit;"
                                        data-ls="durationin:1400; easingin:easeOutQuint; parallax:true; parallaxlevel:3; parallaxaxis:both; parallaxdistance:15;">

                                    <p style="top:586px; left:400px; font-weight:700; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c;"
                                        class="ls-l ls-hide-tablet ls-hide-phone"
                                        data-ls="durationin:1200; easingin:easeOutQuint; rotatexin:90; transformoriginin:50% 0% 0; durationout:1300; easingout:easeOutQuint; rotatexout:90; transformoriginout:50% 100% 0;">
                                        02</p>
                                    <p style="top:585px; left:430px; font-weight:500; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c;"
                                        class="ls-l ls-hide-tablet ls-hide-phone" data-ls="static:forever;">
                                        /
                                    </p>
                                    <p style="top:586px; left:450px; font-weight:500; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c;"
                                        class="ls-l ls-hide-tablet ls-hide-phone" data-ls="static:forever;">
                                        03
                                    </p>
                                    <a class="ls-l ls-hide-tablet ls-hide-phone" href="#next" target="_self"
                                        data-ls="hover:true; hovercolor:#e1aa5e; static:forever;">
                                        <div style="top:586px; left:500px; background-size:inherit; background-position:inherit; font-size:20px; color:#2c2c2c;"
                                            class=""><i class="fas fa-caret-right"></i></div>
                                    </a>
                                    <a class="ls-l ls-hide-tablet ls-hide-phone" href="#prev" target="_self"
                                        data-ls="hover:true; hovercolor:#e1aa5e; static:forever;">
                                        <div style="top:586px; left:361px; background-size:inherit; background-position:inherit; font-size:20px; color:#2c2c2c;"
                                            class=""><i class="fas fa-caret-left"></i></div>
                                    </a>
                                    <p style="top:205px; left:360px; font-weight:600; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c; letter-spacing:3px;"
                                        class="ls-l ls-hide-tablet ls-hide-phone"
                                        data-ls="offsetxin:-100; durationin:1200; delayin:800; easingin:easeOutQuint; transformoriginin:0% 50% 0; offsetxout:-100; minfontsize:16;">
                                        <%=categs[2].prods[0].name[lang] %>
                                    </p>
                                    <h1 style="top:342px; left:360px; font-weight:500; background-size:inherit; background-position:inherit; font-size:100px; font-family:Jost; color:#2c2c2c;"
                                        class="ls-l ls-hide-phone"
                                        data-ls="offsetxin:-100; durationin:1300; delayin:1200; easingin:easeOutQuint; offsetxout:-100;">
                                        <%=categs[2].name[lang] %>
                                    </h1>
                                </div>
                                <%}%>
                                    <%}%>

</div>
</div>