<!doctype html>
<html class="no-js" lang="<%=lang%>">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <meta name="author" content="Vecuro">
    <meta name="description" content="Home">
    <meta name="keywords" content="Home" />
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap" rel="stylesheet">


    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
    <!-- Layerslider -->
    <link rel="stylesheet" href="/assets/css/layerslider.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="/assets/css/slick.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body class="">


    <!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->



    <!--********************************
   		Code Start From Here 
	******************************** -->




    <!--==============================
     Preloader
  ==============================-->
    <div class="preloader  ">
        <button class="vs-btn preloaderCls">Cancel Preloader </button>
        <div class="preloader-inner">
            <img src="/assets/img2/logoawani.png" alt="Awani">
            <span class="loader"></span>
        </div>
    </div>
    <!--   هذا حق اشعار في كل صفحة
    <div class="popup-newsletter-active popup-newsletter-wrap show">
        <div class="popup-newsletter">
            <button class="popup-newsletter-closer"><i class="fal fa-times"></i></button>
            <div class="newsletter-img">
                <img src="assets/img/banner/popup-banner-1.jpg" alt="Banner">
            </div>
            <div class="newsletter-content">
                <span class="newsletter-subtitle">Newsletter</span>
                <h2 class="newsletter-title h3">Be The First To Know</h2>
                <p class="newsletter-text">Sign up for emails to get our latest updates</p>
                <input type="text" class="form-control" placeholder="Your Email Address">
                <button class="vs-btn style7">Subscribe Now</button>
            </div>
        -->
    </div>
    </div>
    <!--==============================
    Mobile Menu
  ============================== -->
    <div class="vs-menu-wrapper">
        <div class="vs-menu-area text-center">
            <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="index.html"><img src="/assets/img2/logoawani.png" alt="Awani"></a>
            </div>
            <div class="vs-mobile-menu">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about-us">About Us</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="">Products</a>
                        <ul class="sub-menu">
                            <% categs.forEach( c=>{%>
                                <li><a href="/prods/<%=c._id%>">
                                        <%=c.name[lang]%>
                                    </a></li>
                                <%})%>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Catalogs</a>
                    </li>
                    <li>
                        <a href="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
        Header Area
    ==============================-->
    <header class="vs-header header-layout1">
        <div class="container-xl">
            <div class="header-top">
                <div class="row justify-content-center justify-content-md-between align-items-center">
                    <div class="col-auto">
                        <div class="header-top-links">
                            <ul>
                                <li>
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1"
                                        data-bs-toggle="dropdown" aria-expanded="false">Language</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                        <li>
                                            <a href="/en">English</a>
                                            <a href="/ar">العربية</a>
                                        </li>
                                    </ul>
                                </li>
                                <% if(user){ %>
                                    <li><a href="#">
                                            <%=user.name %>
                                        </a></li>
                                    <%}else{%>
                                        <li><a href="/user/signin">
                                                login/ Sign up
                                            </a></li>
                                        <%}%>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="col-auto d-none d-lg-block">
                        <p class="header-text">Join our showroom and get 25 % off ! Coupon code : Bangol45</p>
                    </div> -->
                    <div class="col-auto d-none d-md-block">
                        <div class="header-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fal fa-basketball-ball"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-xl">
            <div class="row justify-content-between align-items-center gx-0">
                <div class="col-md-auto align-self-stretch">
                    <div class="logo-style1">
                        <a href="/"><img src="/assets/img2/logoawani.png" alt="Home"></a>
                    </div>
                </div>
                <div class="col">
                    <div class="menu-top">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg col-xl-5 d-none d-lg-block">
                                <form class="header-form">
                                    <input type="text" placeholder="Product Search" onkeyup="sendData(this)">
                                    <i class="far fa-search"></i>
                                </form>
                                <div class="list-group" id="serch-result">
                                </div>
                            </div>
                            <div class="col-auto d-none d-xl-block">
                                <div class="row gx-50">
                                    <div class="col-auto">
                                        <div class="header-info">
                                            <div class="header-info_icon">
                                                <img src="/assets/img/icon/call-icon.png" alt="icon">
                                            </div>
                                            <div class="media-body">
                                                <div class="header-info_link"><a href="tel:+1234567890"
                                                        class="text-inherit">+123 456789 0</a></div>
                                                <span class="header-info_label">Call Us Free</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="header-info">
                                            <div class="header-info_icon">
                                                <img src="assets/img/icon/mail-icon.png" alt="icon">
                                            </div>
                                            <div class="media-body">
                                                <div class="header-info_link">Free Shipping</div>
                                                <span class="header-info_label">on order over $300.0</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%if(user){ %>
                                <div class="col-auto">
                                    <div class="header-buttons">
                                        <a href="#" class="has-badge"><i class="fal fa-heart"></i><span
                                                class="badge">0</span></a>
                                        <div class="header-cart">
                                            <a href="" class="has-badge"><i class="fal fa-shopping-bag"></i><span
                                                    class="badge">
                                                    <%=user.card.length%>
                                                </span></a>
                                            <div class="woocommerce widget_shopping_cart">
                                                <div class="widget_shopping_cart_content">
                                                    <ul class="cart_list">
                                                        <%user.card.forEach( c=>{%>
                                                            <li class="mini_cart_item">
                                                                <a href="#" class="remove"><i
                                                                        class="far fa-times"></i></a>
                                                                <a href="" class="img"><img src="/<%=c.img%>"
                                                                        alt="Cart Image"></a>
                                                                <a href="shop-details.html" class="product-title">
                                                                    <%=c.name[lang]%>
                                                                </a>
                                                                <!-- <span class="amount">$99.00</span> -->
                                                                <div class="quantity">
                                                                    <button class="quantity-minus qut-btn"><i
                                                                            class="far fa-minus"></i></button>
                                                                    <input type="number" class="qty-input" value="1"
                                                                        min="1" max="99">
                                                                    <button class="quantity-plus qut-btn"><i
                                                                            class="far fa-plus"></i></button>
                                                                </div>
                                                                <div class="subtotal">
                                                                    <span>Subtotal:</span>
                                                                    <span class="amount">$99.00</span>
                                                                </div>
                                                            </li>
                                                            <%})%>
                                                    </ul>
                                                    <!-- <p class="total">
                                                        <strong>Subtotal:</strong>
                                                        <span class="amount">$259.00</span>
                                                    </p> -->
                                                    <p class="buttons">
                                                        <a href="/card/<%=user._id%>" class="vs-btn">View cart</a>
                                                        <a href="checkout.html" class="vs-btn checkout">Checkout</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                                    <div class="col-auto d-block d-lg-none">
                                        <button class="vs-menu-toggle "><i class="fal fa-bars"></i></button>
                                    </div>
                        </div>
                    </div>
                    <!-- من هنا تقسيم الاقسام-->
                    <div class="menu-area">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-auto">
                                <nav class="main-menu menu-style1 d-none d-lg-block">
                                    <ul>
                                        <li class="menu-item-has-children">
                                            <a href="index.html">Home</a>
                                        </li>
                                        <li>
                                            <a href="/about-us">About Us</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="">Products</a>
                                            <ul class="sub-menu">
                                                <% categs.forEach( c=>{%>
                                                    <li><a href="/prods/<%=c._id%>">
                                                            <%=c.name[lang]%>
                                                        </a></li>
                                                    <%})%>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Catalogs</a>
                                        <li>
                                            <a href="/contact">Contact Us</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-auto d-none d-lg-flex  align-self-stretch align-items-center">
                                <button type="button" class="hamburger sideMenuToggler">
                                    <span class="bar"></span>
                                    <span class="bar"></span>
                                    <span class="bar"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <script>
        const searchResult = document.getElementById('serch-result');
        console.log(searchResult)
        const sendData = (e) => {
            if (e.value !== '' & e.value !== ' ') {
                fetch('/search', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ text: e.value })
                })
                    .then(res => {
                        return res.json()
                    })
                    .then(data => {
                        if (data.p.length > 0) {
                            const lang = data.lang;
                            data.p.forEach(e => {
                                searchResult.innerHTML = `<a href='' class="list-group-item list-group-item-action">${e.name[lang]}</a>`
                            });
                            console.log('p =' + data.p)
                        }
                    })
                    .catch(err => {
                        console.log(err)
                    })
            }
        }
    </script>