<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <meta name="author" content="Vecuro">
    <meta name="description" content="Home">
    <meta name="keywords" content="Home" />
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap" rel="stylesheet">


    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
    <!-- Layerslider -->
    <link rel="stylesheet" href="/assets/css/layerslider.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="/assets/css/slick.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body class="">


    <!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->



    <!--********************************
   		Code Start From Here 
	******************************** -->




    <!--==============================
     Preloader
  ==============================-->
    <div class="preloader  ">
        <button class="vs-btn preloaderCls">Cancel Preloader </button>
        <div class="preloader-inner">
            <img src="/assets/img2/logoawani.png" alt="Awani">
            <span class="loader"></span>
        </div>
    </div>
    <!--   هذا حق اشعار في كل صفحة
    <div class="popup-newsletter-active popup-newsletter-wrap show">
        <div class="popup-newsletter">
            <button class="popup-newsletter-closer"><i class="fal fa-times"></i></button>
            <div class="newsletter-img">
                <img src="assets/img/banner/popup-banner-1.jpg" alt="Banner">
            </div>
            <div class="newsletter-content">
                <span class="newsletter-subtitle">Newsletter</span>
                <h2 class="newsletter-title h3">Be The First To Know</h2>
                <p class="newsletter-text">Sign up for emails to get our latest updates</p>
                <input type="text" class="form-control" placeholder="Your Email Address">
                <button class="vs-btn style7">Subscribe Now</button>
            </div>
        -->
    </div>
    </div>
    <!--==============================
    Mobile Menu
  ============================== -->
    <div class="vs-menu-wrapper">
        <div class="vs-menu-area text-center">
            <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="index.html"><img src="/assets/img2/logoawani.png" alt="Awani"></a>
            </div>
            <div class="vs-mobile-menu">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About Us</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="product.html">Products</a>
                        <ul class="sub-menu">
                            <li><a href="product.html">All Products</a></li>
                            <li><a href="kitchenware.html">kitchenware</a></li>
                            <li><a href="shelves.html">Shelves</a></li>
                            <li><a href="chairs.html">Chairs</a></li>
                            <li><a href="toys.html">Toys</a></li>
                            <li><a href="drawers.html">Drawers</a></li>
                            <li><a href="storages.html">Storages</a></li>
                            <li><a href="basin.html">Basin</a></li>
                            <li><a href="laundry.html">Laundry</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Catalogs</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
        Header Area
    ==============================-->
    <header class="vs-header header-layout1">
        <div class="container-xl">
            <div class="header-top">
                <div class="row justify-content-center justify-content-md-between align-items-center">
                    <div class="col-auto">
                        <div class="header-top-links">
                            <ul>
                                <li>
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1"
                                        data-bs-toggle="dropdown" aria-expanded="false">Language</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                        <li>
                                            <a href="#">English</a>
                                            <a href="#">العربية</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="login.html">Sign in / Register</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <p class="header-text">Join our showroom and get 25 % off ! Coupon code : Bangol45</p>
                    </div>
                    <div class="col-auto d-none d-md-block">
                        <div class="header-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fal fa-basketball-ball"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-xl">
            <div class="row justify-content-between align-items-center gx-0">
                <div class="col-md-auto align-self-stretch">
                    <div class="logo-style1">
                        <a href="index.html"><img src="assets/img2/logoawani.png" alt="Home"></a>
                    </div>
                </div>
                <div class="col">
                    <div class="menu-top">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg col-xl-5 d-none d-lg-block">
                                <form action="#" class="header-form">
                                    <input type="text" placeholder="Product Search">
                                    <button type="button">Search</button>
                                    <i class="far fa-search"></i>
                                </form>
                            </div>
                            <div class="col-auto d-none d-xl-block">
                                <div class="row gx-50">
                                    <div class="col-auto">
                                        <div class="header-info">
                                            <div class="header-info_icon">
                                                <img src="assets/img/icon/call-icon.png" alt="icon">
                                            </div>
                                            <div class="media-body">
                                                <div class="header-info_link"><a href="tel:+1234567890"
                                                        class="text-inherit">+123 456789 0</a></div>
                                                <span class="header-info_label">Call Us Free</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="header-info">
                                            <div class="header-info_icon">
                                                <img src="assets/img/icon/mail-icon.png" alt="icon">
                                            </div>
                                            <div class="media-body">
                                                <div class="header-info_link">Free Shipping</div>
                                                <span class="header-info_label">on order over $300.0</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="header-buttons">
                                    <a href="login.html"><i class="fal fa-user"></i></a>
                                    <a href="#" class="has-badge"><i class="fal fa-heart"></i><span
                                            class="badge">0</span></a>
                                    <div class="header-cart">
                                        <a href="cart.html" class="has-badge"><i class="fal fa-shopping-bag"></i><span
                                                class="badge">0</span></a>
                                        <div class="woocommerce widget_shopping_cart">
                                            <div class="widget_shopping_cart_content">
                                                <ul class="cart_list">
                                                    <li class="mini_cart_item">
                                                        <a href="#" class="remove"><i class="far fa-times"></i></a>
                                                        <a href="shop-details.html" class="img"><img
                                                                src="assets/img/cart/cat-img-1.jpg"
                                                                alt="Cart Image"></a>
                                                        <a href="shop-details.html" class="product-title">Smart
                                                            Watch</a>
                                                        <span class="amount">$99.00</span>
                                                        <div class="quantity">
                                                            <button class="quantity-minus qut-btn"><i
                                                                    class="far fa-minus"></i></button>
                                                            <input type="number" class="qty-input" value="1" min="1"
                                                                max="99">
                                                            <button class="quantity-plus qut-btn"><i
                                                                    class="far fa-plus"></i></button>
                                                        </div>
                                                        <div class="subtotal">
                                                            <span>Subtotal:</span>
                                                            <span class="amount">$99.00</span>
                                                        </div>
                                                    </li>
                                                    <li class="mini_cart_item">
                                                        <a href="#" class="remove"><i class="far fa-times"></i></a>
                                                        <a href="shop-details.html" class="img"><img
                                                                src="assets/img/cart/cat-img-2.jpg"
                                                                alt="Cart Image"></a>
                                                        <a href="shop-details.html" class="product-title">Boss Chair</a>
                                                        <span class="amount">$80.00</span>
                                                        <div class="quantity">
                                                            <button class="quantity-minus qut-btn"><i
                                                                    class="far fa-minus"></i></button>
                                                            <input type="number" class="qty-input" value="2" min="1"
                                                                max="99">
                                                            <button class="quantity-plus qut-btn"><i
                                                                    class="far fa-plus"></i></button>
                                                        </div>
                                                        <div class="subtotal">
                                                            <span>Subtotal:</span>
                                                            <span class="amount">$160.00</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <p class="total">
                                                    <strong>Subtotal:</strong>
                                                    <span class="amount">$259.00</span>
                                                </p>
                                                <p class="buttons">
                                                    <a href="cart.html" class="vs-btn">View cart</a>
                                                    <a href="checkout.html" class="vs-btn checkout">Checkout</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto d-block d-lg-none">
                                <button class="vs-menu-toggle "><i class="fal fa-bars"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- من هنا تقسيم الاقسام-->
                    <div class="menu-area">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-auto">
                                <nav class="main-menu menu-style1 d-none d-lg-block">
                                    <ul>
                                        <li class="menu-item-has-children">
                                            <a href="index.html">Home</a>
                                            <!--
                                            <ul class="sub-menu">
                                                <li><a href="index.html">Home v1 - Fashion</a></li>
                                                <li><a href="index-2.html">Home v2 - Electronic</a></li>
                                                <li><a href="index-3.html">Home v3 - Organic Food</a></li>
                                                <li><a href="index-4.html">Home v4 - Furniture</a></li>
                                                <li><a href="index-5.html">Home v5 - Wine</a></li>
                                                <li><a href="index-6.html">Home v6 - Shoes</a></li>
                                                <li><a href="index-7.html">Home v7 - Interior Furniture</a></li>
                                                <li><a href="index-8.html">Home v8 - Bags & Eyeware</a></li>
                                                <li><a href="index-9.html">Home v9 - Jewellery & Watches</a></li>
                                                <li><a href="index-10.html">Home v10 - Market</a></li>
                                                <li><a href="index-11.html">Home v11 - Medical</a></li>
                                            </ul>
                                        -->
                                        </li>
                                        <li>
                                            <a href="about.html">About Us</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="product.html">Products</a>
                                            <ul class="sub-menu">
                                                <li><a href="product.html">All Products</a></li>
                                                <li><a href="kitchenware.html">kitchenware</a></li>
                                                <li><a href="shelves.html">Shelves</a></li>
                                                <li><a href="chairs.html">Chairs</a></li>
                                                <li><a href="toys.html">Toys</a></li>
                                                <li><a href="drawers.html">Drawers</a></li>
                                                <li><a href="storages.html">Storages</a></li>
                                                <li><a href="basin.html">Basin</a></li>
                                                <li><a href="laundry.html">Laundry</a></li>
                                            </ul>
                                        </li>
                                        <!--
                                        <li class="menu-item-has-children mega-menu-wrap">
                                            <a href="#">Pages</a>
                                            <ul class="mega-menu">
                                                <li><a href="shop.html">Pagelist 1</a>
                                                    <ul>
                                                        <li><a href="index.html">Home v1 - Fashion</a></li>
                                                        <li><a href="index-2.html">Home v2 - Electronic</a></li>
                                                        <li><a href="index-3.html">Home v3 - Organic Food</a></li>
                                                        <li><a href="index-4.html">Home v4 - Furniture</a></li>
                                                        <li><a href="index-5.html">Home v5 - Wine</a></li>
                                                        <li><a href="index-6.html">Home v6 - Shoes</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Pagelist 2</a>
                                                    <ul>
                                                        <li><a href="index-7.html">Home v7 - Interior Furniture</a></li>
                                                        <li><a href="index-8.html">Home v8 - Bags & Eyeware</a></li>
                                                        <li><a href="index-9.html">Home v9 - Jewellery & Watches</a></li>
                                                        <li><a href="index-10.html">Home v10 - Market</a></li>
                                                        <li><a href="index-11.html">Home v11 - Medical</a></li>
                                                        <li><a href="about.html">About Us</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Pagelist 3</a>
                                                    <ul>
                                                        <li><a href="shop.html">Shop</a></li>
                                                        <li><a href="shop-details.html">Shop Details</a></li>
                                                        <li><a href="cart.html">Shopping Cart</a></li>
                                                        <li><a href="checkout.html">Check Out</a></li>
                                                        <li><a href="login.html">Login Page</a></li>
                                                        <li><a href="signup.html">Registration Page</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Pagelist 4</a>
                                                    <ul>
                                                        <li><a href="faq.html">FAQ Page</a></li>
                                                        <li><a href="blog.html">Blog</a></li>
                                                        <li><a href="blog-details.html">Blog Details</a></li>
                                                        <li><a href="contact.html">Contact Us</a></li>
                                                        <li><a href="error.html">Error Page</a></li>
                                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        -->
                                        <li>
                                            <a href="#">Catalogs</a>
                                        <li>
                                            <a href="contact.html">Contact Us</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-auto d-none d-lg-flex  align-self-stretch align-items-center">
                                <button type="button" class="hamburger sideMenuToggler">
                                    <span class="bar"></span>
                                    <span class="bar"></span>
                                    <span class="bar"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--==============================
      Hero Area
    ==============================-->
    <section class="vs-hero-wrapper position-relative  ">
        <div class="vs-hero-carousel" data-height="900" data-container="1900"
            style="background-color: #edece7; clip-path: polygon(0px 0px, 100% 0px, 100% 84%, 0% 100%);">
            <!-- Slide 1-->
            <div class="ls-slide"
                data-ls="bgcolor:#edece7; duration:10000; transition2d:5; timeshift:5000; kenburnsscale:1.2;">
                <p style="top:586px; left:400px; font-weight:700; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c;"
                    class="ls-l ls-hide-tablet ls-hide-phone"
                    data-ls="durationin:1200; easingin:easeOutQuint; rotatexin:90; transformoriginin:50% 0% 0; durationout:1300; easingout:easeOutQuint; rotatexout:90; transformoriginout:50% 100% 0;">
                    01</p>
                <p style="top:585px; left:430px; font-weight:500; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c;"
                    class="ls-l ls-hide-tablet ls-hide-phone" data-ls="static:forever;">/</p>
                <p style="top:586px; left:450px; font-weight:500; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c;"
                    class="ls-l ls-hide-tablet ls-hide-phone" data-ls="static:forever;">03</p>
                <a class="ls-l ls-hide-tablet ls-hide-phone" href="#next" target="_self"
                    data-ls="hover:true; hovercolor:#e1aa5e; static:forever;">
                    <div style="top:586px; left:500px; background-size:inherit; background-position:inherit; font-size:20px; color:#2c2c2c;"
                        class=""><i class="fas fa-caret-right"></i></div>
                </a>
                <a class="ls-l ls-hide-tablet ls-hide-phone" href="#prev" target="_self"
                    data-ls="hover:true; hovercolor:#e1aa5e; static:forever;">
                    <div style="top:586px; left:361px; background-size:inherit; background-position:inherit; font-size:20px; color:#2c2c2c;"
                        class=""><i class="fas fa-caret-left"></i></div>
                </a>
                <p style="top:205px; left:360px; font-weight:600; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c; letter-spacing:3px;"
                    class="ls-l ls-hide-tablet ls-hide-phone"
                    data-ls="offsetxin:-100; durationin:1200; delayin:800; easingin:easeOutQuint; transformoriginin:0% 50% 0; offsetxout:-100; minfontsize:16;">
                    New Arrivals 2022</p>
                <h1 style="top:232px; left:360px; font-weight:500; background-size:inherit; background-position:inherit; font-size:100px; font-family:Jost; color:#2c2c2c;"
                    class="ls-l ls-hide-phone"
                    data-ls="offsetxin:-100; durationin:1300; delayin:1000; easingin:easeOutQuint; offsetxout:-100;">
                    Trendy
                </h1>
                <h1 style="top:342px; left:360px; font-weight:500; background-size:inherit; background-position:inherit; font-size:100px; font-family:Jost; color:#2c2c2c;"
                    class="ls-l ls-hide-phone"
                    data-ls="offsetxin:-100; durationin:1300; delayin:1200; easingin:easeOutQuint; offsetxout:-100;">
                    Collection
                </h1>
                <p style="top:190px; left:360px; font-weight:600; background-size:inherit; background-position:inherit; font-family:Jost; color:#2c2c2c; font-size:26px; letter-spacing:3px;"
                    class="ls-l ls-hide-desktop ls-hide-phone"
                    data-ls="offsetxin:-100; durationin:1200; delayin:800; easingin:easeOutQuint; transformoriginin:0% 50% 0; offsetxout:-100;">
                    New Arrivals 2022</p>
                <h1 style="top:212px; left:150px; font-weight:500; background-size:inherit; background-position:inherit; font-size:170px; font-family:Jost; color:#2c2c2c;"
                    class="ls-l ls-hide-desktop ls-hide-tablet"
                    data-ls="offsetxin:-100; durationin:1300; delayin:1000; easingin:easeOutQuint; offsetxout:-100;">
                    Trendy
                </h1>
                <h1 style="top:402px; left:150px; font-weight:500; background-size:inherit; background-position:inherit; font-size:170px; font-family:Jost; color:#2c2c2c;"
                    class="ls-l ls-hide-desktop ls-hide-tablet"
                    data-ls="offsetxin:-100; durationin:1300; delayin:1200; easingin:easeOutQuint; offsetxout:-100;">
                    Collection
                </h1>
            </div>
        </div>
    </section>
    <!--==============================
    Banner Card Area
    ==============================-->
    <% if(offers.length> 0){ %> <section class=" ">
            <div class="container-lg">
                <div class="banner-wrap-style1">
                    <% offers.forEach(f=>{ %>
                        <div class="col-lg-4 col-md-6">
                            <div class="banner_style3 mega-hover">
                                <div class="banner_img">
                                    <img src="<%= f.imgs[0] %>" alt="Offer Image">
                                </div>
                                <div class="banner_content">
                                    <h3 class="banner_title"><strong>-<%=f.offer %> % Off</strong>
                                        <%= (lang=="ar" ) ? f.name.ar : f.name.en %>
                                    </h3>
                                    <a href="shop.html" class="line-btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <%})%>
                </div>
            </div>
        </section>
        <%} %>
            <!--==============================
    Category Area  
    ==============================-->
            <section class="space-extra-top">
                <div class="container">
                    <div class="title-area text-center">
                        <h2 class="sec-title">Get your Fashion style</h2>
                        <p class="sub-title fs-xs">Our campaigns, the latest trends and new collections</p>
                        <div class="sec-line"></div>
                    </div>
                    <div class="row vs-carousel gx-10 cat-media_slider" data-slide-show="5" data-lg-slide-show="4"
                        data-md-slide-show="3" data-sm-slide-show="2" data-xs-slide-show="2" data-arrows="true">
                        <% categName.forEach(c=>{ %>
                            <div class="col-xl-3">
                                <div class="cat-media">
                                    <!-- <span class="badge">8</span> -->
                                    <div class="cat-media_icon">
                                        <a href="shop.html"><img src="<%= c.img %>" alt="Cat Icon"></a>
                                    </div>
                                    <div class="media-body">
                                        <h3 class="cat-media_cat"><a href="shop.html" class="text-inherit">
                                                <%= (lang=='ar' )? c.name.ar : c.name.en %>
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <%})%>
                    </div>
                </div>
            </section>
            <!--==============================
    Banner Area
    ==============================-->
            <section class="space-extra-top">
                <div class="container pb-10">
                    <div class="row gx-20">
                        <% if(firstProdCateg[0]){%>
                            <div class="col-md-6 mb-20">
                                <div class="banner mega-hover">
                                    <div class="banner_img overflow-hidden">
                                        <img src="<%=firstProdCateg[0].imgs[0]%>" alt="Offer Banner" class="w-100">
                                    </div>
                                    <div class="banner_style1 bg-theme">
                                        <!-- حق الدائراء الاصفرا فوق الصوره
                        <h3 class="banner_title text-white">Extended <strong>Dress</strong></h3>
                        <span class="banner_label text-white">Outer Wear</span>
                        -->
                                    </div>
                                </div>
                            </div>
                            <%}%>
                                <div class="col-md-6">
                                    <% if(firstProdCateg[1]){%>
                                        <div class="banner_style3 mega-hover mb-20">
                                            <div class="banner_img">
                                                <img src="firstProdCateg[1].imgs[0]" alt="Offer Image">
                                            </div>
                                            <div class="banner_content">
                                                <h3 class="banner_title mb-0"><strong>
                                                        <%= (lang=='ar' )? firstProdCateg[1].name.ar :
                                                            firstProdCateg[1].name.en %>
                                                    </strong></h3>
                                                <span class="banner_label">TRENDING 2022</span>
                                                <a href="shop.html" class="line-btn hover-white">Shop Now</a>
                                            </div>
                                        </div>
                                        <%}%>
                                            <% if(firstProdCateg[2]){%>
                                                <div class="banner_style3 mega-hover mb-20">
                                                    <div class="banner_img">
                                                        <img src="firstProdCateg[2].imgs[0]" alt="Offer Image">
                                                    </div>
                                                    <div class="banner_content">
                                                        <h3 class="banner_title mb-0"><strong>
                                                                <%= (lang=='ar' )? firstProdCateg[2].name.ar :
                                                                    firstProdCateg[2].name.en %>
                                                            </strong></h3>
                                                        <span class="banner_label">TRENDING 2022</span>
                                                        <a href="shop.html" class="line-btn hover-white">Shop Now</a>
                                                    </div>
                                                </div>
                                                <%}%>
                                </div>
                    </div>
                </div>
            </section>
            <!--==============================
    Featured Products Area
    ==============================-->
            <section class="space-extra">
                <div class="container">
                    <div class="title-area">
                        <h2 class="sec-title">Feature Products</h2>
                        <p class="sub-title">Our campaigns, the latest trends and new collections</p>
                        <div class="sec-line"></div>
                    </div>
                </div>
                <div class="container-fluid px-30 vs_hd_container">
                    <div class="row vs-carousel" data-slide-show="5" data-xl-slide-show="4" data-lg-slide-show="3"
                        data-md-slide-show="3">
                        <% randomProd.forEach( p=> {%>
                            <div class="col-xl-3">
                                <div class="vs-product product_layout1">
                                    <div class="product-img">
                                        <a href="shop-details.html"><img src="<%=p.imgs[0]%>" alt="featued"></a>
                                        <div class="actions">
                                            <a href="cart.html" class="icon-btn style2"><i
                                                    class="fal fa-shopping-bag"></i></a>
                                            <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                            <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title"><a href="shop-details.html" class="text-inherit"></a>
                                                <%= (lang='ar' ) ? p.name.ar: p.name.en %>
                                            </a></h3>
                                    </div>
                                </div>
                            </div>
                            <%})%>
                    </div>
                </div>
            </section>
            <!--==============================
    Discount Area
    ==============================-->
            <section class=" ">
                <!--حق صورة مقاس 618*487-->
                <!--
        <div class="container">
            <div class="discount-wrap">
                <div class="row">
                    <div class="col-md-7 align-self-end text-center text-lg-start">
                        <div class="pt-3">
                            <img src="/assets/img/offer/count-down-banner.png" alt="Discount Banner">
                        </div>
                    </div>
                -->

                <div class="ms-lg-5 ms-xl-0 col-md-auto align-self-center">
                    <div class="discount-content text-center">
                        <span class="discount-label">Limited Time Offer!</span>
                        <div class="discount-total">40<sup>%</sup><span class="text-theme fw-light"> Off</span></div>
                        <h2 class="discount-title">with <span class="text-theme">promot code</span></h2>
                        <ul class="offer-counter counter-list" data-offer-date="12/08/2023">
                            <li>
                                <div class="day count-number ">00</div>
                                <span class="count-name">Days</span>
                            </li>
                            <li>
                                <div class="hour count-number ">00</div>
                                <span class="count-name">Hours</span>
                            </li>
                            <li>
                                <div class="minute count-number ">00</div>
                                <span class="count-name">Minutes</span>
                            </li>
                        </ul>
                        <a href="shop.html" class="line-btn">View Offer</a>
                    </div>
                </div>
                </div>
                </div>
                </div>
            </section>
            <!--==============================
    New Collection Area
    ==============================-->
            <!--حق new collection -->
            <!--
    <section class="space-top space-extra-bottom">
        <div class="container">
            <div class="title-area text-center">
                <h2 class="sec-title">New Collection</h2>
                <p class="sec-text">Latest Collection and Bold</p>
                <div class="sec-line"></div>
            </div>
        </div>
        <div class="container vs_container">
            <div class="row">
                <div class="col-xl-auto">
                    <div class="banner_style2">
                        <div class="banner_img">
                            <img src="/assets/img/banner/banner-1-1.jpg" alt="Banner Image">
                        </div>
                        <div class="banner_content">
                            <span class="banner_label">Trending 2022</span>
                            <h2 class="banner_title">Start With The Best Sellers</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl">
                    <div class="row pt-30 pt-xl-0">
                        <div class="col-6">
                            <div class="vs-product product_layout1 style2">
                                <div class="product-img">
                                    <span class="tag-style1">Sale</span>
                                    <a href="shop-details.html"><img src="/assets/img/featued/featued-2-1.jpg" alt="featued"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="shop-details.html" class="text-inherit">Shearling jacket</a></h3>
                                    <span class="product-price">$145.90</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="vs-product product_layout1 style2">
                                <div class="product-img">
                                    <span class="tag-style1">Sale</span>
                                    <a href="shop-details.html"><img src="/assets/img/featued/featued-2-2.jpg" alt="featued"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="shop-details.html" class="text-inherit">Shearling Sweater</a></h3>
                                    <span class="product-price">$199.90</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="vs-product product_layout1 style2">
                                <div class="product-img">
                                    <span class="tag-style1">Sale</span>
                                    <a href="shop-details.html"><img src="/assets/img/featued/featued-2-3.jpg" alt="featued"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="shop-details.html" class="text-inherit">Shorts jacket</a></h3>
                                    <span class="product-price">$300.90</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="vs-product product_layout1 style2">
                                <div class="product-img">
                                    <span class="tag-style1">Sale</span>
                                    <a href="shop-details.html"><img src="/assets/img/featued/featued-2-4.jpg" alt="featued"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="shop-details.html" class="text-inherit">Hoodie jacket</a></h3>
                                    <span class="product-price">$120.90</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

-->
            <hr class="hr_style3 m-0">
            <!--==============================
    Brand Area
    ==============================-->
            <section class="space">
                <div class="container">
                    <div class="title-area text-center">
                        <h2 class="sec-title">Brands We Love</h2>
                        <p class="sub-title">Our campaigns, the latest trends and new collections</p>
                        <div class="sec-line"></div>
                    </div>
                    <div class="row vs-carousel text-center" data-slide-show="5" data-md-slide-show="4"
                        data-sm-slide-show="3">
                        <div class="col-auto">
                            <div class="vs-brand">
                                <img src="/assets/img/brand/b-1-1.png" alt="Brand Image">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="vs-brand">
                                <img src="/assets/img/brand/b-1-2.png" alt="Brand Image">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="vs-brand">
                                <img src="/assets/img/brand/b-1-3.png" alt="Brand Image">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="vs-brand">
                                <img src="/assets/img/brand/b-1-4.png" alt="Brand Image">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="vs-brand">
                                <img src="/assets/img/brand/b-1-5.png" alt="Brand Image">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="vs-brand">
                                <img src="/assets/img/brand/b-1-1.png" alt="Brand Image">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="hr_style3 m-0">
            <!--==============================
    Testimonial Area
    ==============================-->
            <section class="space-top">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-6">
                            <div class="vs-carousel" data-slide-show="1" data-md-slide-show="1" data-sm-slide-show="1"
                                data-xs-slide-show="1" data-arrows="true">
                                <div class="testi_card">
                                    <div class="testi_card_quote"><img src="/assets/img/icon/quote.png"
                                            alt="Quote Icon">
                                    </div>
                                    <p class="testi_card_text">Great for swimming and especially if there are rocks and
                                        uneven
                                        terrain. They stay snug on your feet while swimming and dry quickly. I wear them
                                        on
                                        my
                                        offshore fishing boat. Very comfortable.</p>
                                    <h5 class="testi_card_name">Harry Tube</h5>
                                </div>
                                <div class="testi_card">
                                    <div class="testi_card_quote"><img src="/assets/img/icon/quote.png"
                                            alt="Quote Icon">
                                    </div>
                                    <p class="testi_card_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed
                                        do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam,
                                        quis nostrud exercitation ullamco</p>
                                    <h5 class="testi_card_name">Vivi Marian</h5>
                                </div>
                                <div class="testi_card">
                                    <div class="testi_card_quote"><img src="/assets/img/icon/quote.png"
                                            alt="Quote Icon">
                                    </div>
                                    <p class="testi_card_text">The passage experienced a surge in popularity during the
                                        1960s
                                        when Letraset used it on their dry-transfer sheets, and again during the 90s as
                                        desktop
                                        publishers bundled the text with their.</p>
                                    <h5 class="testi_card_name">Jerrzy Lamot</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--==============================
    Features Area
    ==============================-->
            <section class="space-extra">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-4 col-xl-auto">
                            <div class="feature_card">
                                <div class="feature_card_icon">
                                    <img src="/assets/img/icon/feature-1-1.png" alt="feature icon">
                                </div>
                                <h3 class="feature_card_title">Find the Perfect Fit</h3>
                                <p class="feature_card_text">Everybody is different, which is why we offer styles for
                                    every
                                    body.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-xl-auto">
                            <div class="feature_card">
                                <div class="feature_card_icon">
                                    <img src="/assets/img/icon/feature-1-2.png" alt="feature icon">
                                </div>
                                <h3 class="feature_card_title">Free Exchanges</h3>
                                <p class="feature_card_text">Everybody is different, which is why we offer styles for
                                    every
                                    body.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-xl-auto">
                            <div class="feature_card">
                                <div class="feature_card_icon">
                                    <img src="/assets/img/icon/feature-1-3.png" alt="feature icon">
                                </div>
                                <h3 class="feature_card_title">Contact Our Seller</h3>
                                <p class="feature_card_text">Everybody is different, which is why we offer styles for
                                    every
                                    body.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--==============================
    Galley Area
    ==============================-->
            <div class=" ">
                <div class="container-fluid px-xxl-2">
                    <div class="row gx-0 vs-carousel" data-slide-show="6" data-lg-slide-show="4" data-md-slide-show="3">
                        <div class="col-2">
                            <div class="gallery_card image-scale-hover">
                                <div class="gallery_card_img">
                                    <img src="/assets/img/gallery/g-1-1.jpg" alt="Gallery Image">
                                </div>
                                <a href="/assets/img/gallery/g-1-1.jpg" class="gallery_card_icon popup-image"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="gallery_card image-scale-hover">
                                <div class="gallery_card_img">
                                    <img src="/assets/img/gallery/g-1-2.jpg" alt="Gallery Image">
                                </div>
                                <a href="/assets/img/gallery/g-1-2.jpg" class="gallery_card_icon popup-image"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="gallery_card image-scale-hover">
                                <div class="gallery_card_img">
                                    <img src="/assets/img/gallery/g-1-3.jpg" alt="Gallery Image">
                                </div>
                                <a href="/assets/img/gallery/g-1-3.jpg" class="gallery_card_icon popup-image"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="gallery_card image-scale-hover">
                                <div class="gallery_card_img">
                                    <img src="/assets/img/gallery/g-1-4.jpg" alt="Gallery Image">
                                </div>
                                <a href="/assets/img/gallery/g-1-4.jpg" class="gallery_card_icon popup-image"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="gallery_card image-scale-hover">
                                <div class="gallery_card_img">
                                    <img src="/assets/img/gallery/g-1-5.jpg" alt="Gallery Image">
                                </div>
                                <a href="/assets/img/gallery/g-1-5.jpg" class="gallery_card_icon popup-image"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="gallery_card image-scale-hover">
                                <div class="gallery_card_img">
                                    <img src="/assets/img/gallery/g-1-6.jpg" alt="Gallery Image">
                                </div>
                                <a href="/assets/img/gallery/g-1-6.jpg" class="gallery_card_icon popup-image"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="gallery_card image-scale-hover">
                                <div class="gallery_card_img">
                                    <img src="/assets/img/gallery/g-1-7.jpg" alt="Gallery Image">
                                </div>
                                <a href="/assets/img/gallery/g-1-7.jpg" class="gallery_card_icon popup-image"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--==============================
			Footer Area
	==============================-->
            <footer class="footer-wrapper footer-layout1">
                <div class="widget-area">
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-md-5 col-lg-3">
                                <div class="widget footer-widget">
                                    <h3 class="widget_title">Contact Us</h3>
                                    <div class="vs-widget-about">
                                        <form action="#" class="footer-newsletter">
                                            <p class="form-text">Get on the list so we can stay in touch</p>
                                            <div class="form-group">
                                                <input type="email" id="newsletteremail" name="newsletteremail"
                                                    placeholder="Your email address">
                                                <i class="fas fa-envelope"></i>
                                            </div>
                                        </form>
                                        <p class="footer-info"><i class="fas fa-paper-plane"></i><a class="text-inherit"
                                                href="mailto:Vendora@email.com">Vendora@email.com</a></p>
                                        <p class="footer-info"><i class="fas fa-phone-alt"></i><a class="text-inherit"
                                                href="tel:703-261-6660">703-261-6660</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto col-md-6 col-lg-auto offset-xl-1">
                                <div class="widget widget_nav_menu  footer-widget">
                                    <h3 class="widget_title">Links</h3>
                                    <div class="menu-all-pages-container">
                                        <ul class="menu">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="product.html">Products</a></li>
                                            <li><a href="#">Catalogs</a></li>
                                            <li><a href="contact.html">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto col-md-6 col-lg-auto offset-xl-1">
                                <div class="widget widget_nav_menu  footer-widget">
                                    <h3 class="widget_title">Services</h3>
                                    <div class="menu-all-pages-container">
                                        <ul class="menu">
                                            <li><a href="#">Track My Order</a></li>
                                            <li><a href="#">Returns</a></li>
                                            <li><a href="#">Shipping Terms</a></li>
                                            <li><a href="#">Payment Policy</a></li>
                                            <li><a href="#">FAQ</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto col-md-6 col-lg-auto">
                                <div class="widget widget_nav_menu  footer-widget">
                                    <h3 class="widget_title">Follow Us On</h3>
                                    <div class="menu-all-pages-container">
                                        <ul class="menu">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i>Facebook</a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i>Twitter</a></li>
                                            <li><a href="#"><i class="far fa-blog"></i>Bebo</a></li>
                                            <li><a href="#"><i class="far fa-basketball-ball"></i>Dribvble</a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i>Instagram</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-auto">
                                <div class="widget footer-widget">
                                    <h3 class="widget_title">Shop Address</h3>
                                    <div class="footer-map">
                                        <iframe
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115078.21247479583!2d-74.06078298144763!3d40.717427384710724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1636528338849!5m2!1sen!2sbd"
                                            width="400" height="135" style="border:0;" allowfullscreen=""
                                            loading="lazy"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-wrap text-center">
                    <p class="mb-0"><i class="fal fa-copyright"></i> 2022 <a class="text-reset"
                            href="index.html">Vendora</a>.
                        All rights reserved by <a class="text-reset"
                            href="https://themeforest.net/user/vecuro">Vecuro</a>.
                    </p>
                </div>
            </footer>



            <!--********************************
			Code End  Here 
	******************************** -->


            <!-- Scroll To Top -->
            <a href="#" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>



            <!--==============================
        All Js File
    ============================== -->
            <!-- Jquery -->
            <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
            <!-- Slick Slider -->
            <script src="/assets/js/slick.min.js"></script>
            <!-- Layerslider -->
            <script src="/assets/js/layerslider.utils.js"></script>
            <script src="/assets/js/layerslider.transitions.js"></script>
            <script src="/assets/js/layerslider.kreaturamedia.jquery.js"></script>
            <!-- Bootstrap -->
            <script src="/assets/js/bootstrap.min.js"></script>
            <!-- Magnific Popup -->
            <script src="/assets/js/jquery.magnific-popup.min.js"></script>
            <!-- Isotope Filter -->
            <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
            <script src="/assets/js/isotope.pkgd.min.js"></script>
            <!-- Custom Carousel -->
            <script src="/assets/js/vscustom-carousel.min.js"></script>
            <!-- Form Js -->
            <script src="/assets/js/ajax-mail.js"></script>
            <!-- Main Js File -->
            <script src="/assets/js/main.js"></script>
            <!-- my main js -->
            <script src="/asssts/js/index.js"></script>
</body>

</html>