<%- include('lay-outs/header'); %>
    <!--==============================
      Hero Area
    ==============================-->
    <section class="vs-hero-wrapper position-relative  ">
        <div class="vs-hero-carousel" data-height="900" data-container="1900"
            style="background-color: #edece7; clip-path: polygon(0px 0px, 100% 0px, 100% 84%, 0% 100%);">
            <!--
                Slide 1-->
            <%if(categs[0].prods[0]){%>
                <div class="ls-slide"
                    data-ls="bgcolor:#edece7; duration:10000; transition2d:5; timeshift:5000; kenburnsscale:1.2;">

                    <img width="245" height="477" src="<%=categs[0].prods[0].imgs[0]%>" class="ls-l" alt="image"
                        style="top:520px; left:-25px; background-size:inherit; background-position:inherit;"
                        data-ls="offsetxin:left; durationin:1400; delayin:1400; easingin:easeOutQuint; offsetxout:left; easingout:easeOutQuint; parallax:true; parallaxlevel:9; parallaxaxis:both;">
                    <img width="1003" height="595" src="<%=categs[0].prods[0].imgs[1]%>" class="ls-l" alt="image"
                        style="top:140px; left:478px; background-size:inherit; background-position:inherit;"
                        data-ls="durationin:1500; delayin:1300; easingin:easeOutQuint; durationout:1400; parallax:true; parallaxlevel:8; parallaxaxis:both; parallaxdistance:30;">
                    <p style="top:-110px; left:999px; background-size:inherit; background-position:inherit; font-size:24px; border-top:90px solid #5ee16f; border-right:90px solid #e1aa5e; border-bottom:90px solid #e1aa5e; border-left:90px solid #e1aa5e; width:470px; height:470px; border-radius:100%;"
                        class="ls-l"
                        data-ls="offsetyin:top; durationin:1400; delayin:500; easingin:easeOutQuint; offsetyout:top; durationout:1100; fadeout:false; parallax:true; parallaxlevel:5; parallaxaxis:both; parallaxdistance:20;">
                    </p>
                    <img width="591" height="707" src="<%=categs[0].prods[0].imgs[2]%>" class="ls-l" alt="image"
                        style="top:30px; left:1032px; background-size:inherit; background-position:inherit;"
                        data-ls="durationin:1400; easingin:easeOutQuint; parallax:true; parallaxlevel:3; parallaxaxis:both; parallaxdistance:15;">

                    <p style="top:586px; left:400px; font-weight:700; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c;"
                        class="ls-l ls-hide-tablet ls-hide-phone"
                        data-ls="durationin:1200; easingin:easeOutQuint; rotatexin:90; transformoriginin:50% 0% 0; durationout:1300; easingout:easeOutQuint; rotatexout:90; transformoriginout:50% 100% 0;">
                        01</p>
                    <p style="top:585px; left:430px; font-weight:500; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c;"
                        class="ls-l ls-hide-tablet ls-hide-phone" data-ls="static:forever;">/</p>
                    <p style="top:586px; left:450px; font-weight:500; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c;"
                        class="ls-l ls-hide-tablet ls-hide-phone" data-ls="static:forever;">03</p>
                    <a class="ls-l ls-hide-tablet ls-hide-phone" href="#next" target="_self"
                        data-ls="hover:true; hovercolor:#e1aa5e; static:forever;">
                        <div style="top:586px; left:500px; background-size:inherit; background-position:inherit; font-size:20px; color:#2c2c2c;"
                            class=""><i class="fas fa-caret-right"></i></div>
                    </a>
                    <a class="ls-l ls-hide-tablet ls-hide-phone" href="#prev" target="_self"
                        data-ls="hover:true; hovercolor:#e1aa5e; static:forever;">
                        <div style="top:586px; left:361px; background-size:inherit; background-position:inherit; font-size:20px; color:#2c2c2c;"
                            class=""><i class="fas fa-caret-left"></i></div>
                    </a>
                    <p style="top:205px; left:360px; font-weight:600; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c; letter-spacing:3px;"
                        class="ls-l ls-hide-tablet ls-hide-phone"
                        data-ls="offsetxin:-100; durationin:1200; delayin:800; easingin:easeOutQuint; transformoriginin:0% 50% 0; offsetxout:-100; minfontsize:16;">
                        <%=categs[0].prods[0].name[lang] %>
                    </p>
                    <h1 style="top:342px; left:360px; font-weight:500; background-size:inherit; background-position:inherit; font-size:100px; font-family:Jost; color:#2c2c2c;"
                        class="ls-l ls-hide-phone"
                        data-ls="offsetxin:-100; durationin:1300; delayin:1200; easingin:easeOutQuint; offsetxout:-100;">
                        <%=categs[0].name[lang] %>
                    </h1>
                    <!-- <p style="top:190px; left:360px; font-weight:600; background-size:inherit; background-position:inherit; font-family:Jost; color:#2c2c2c; font-size:26px; letter-spacing:3px;"
                        class="ls-l ls-hide-desktop ls-hide-phone"
                        data-ls="offsetxin:-100; durationin:1200; delayin:800; easingin:easeOutQuint; transformoriginin:0% 50% 0; offsetxout:-100;">
                        New Arrivals 2022</p>
                    <h1 style="top:212px; left:150px; font-weight:500; background-size:inherit; background-position:inherit; font-size:170px; font-family:Jost; color:#2c2c2c;"
                        class="ls-l ls-hide-desktop ls-hide-tablet"
                        data-ls="offsetxin:-100; durationin:1300; delayin:1000; easingin:easeOutQuint; offsetxout:-100;">
                        Trendy
                    </h1>
                    <h1 style="top:402px; left:150px; font-weight:500; background-size:inherit; background-position:inherit; font-size:170px; font-family:Jost; color:#2c2c2c;"
                        class="ls-l ls-hide-desktop ls-hide-tablet"
                        data-ls="offsetxin:-100; durationin:1300; delayin:1200; easingin:easeOutQuint; offsetxout:-100;">
                        Collection
                    </h1> -->
                </div>
                <%}%>
                    <% if(categs[1]){%>
                        <%if(categs[1].prods[0]){%>
                            <div class="ls-slide"
                                data-ls="bgcolor:#edece7; duration:10000; transition2d:5; timeshift:5000; kenburnsscale:1.2;">

                                <img width="245" height="477" src="<%=categs[1].prods[0].imgs[0]%>" class="ls-l"
                                    alt="image"
                                    style="top:520px; left:-25px; background-size:inherit; background-position:inherit;"
                                    data-ls="offsetxin:left; durationin:1400; delayin:1400; easingin:easeOutQuint; offsetxout:left; easingout:easeOutQuint; parallax:true; parallaxlevel:9; parallaxaxis:both;">
                                <img width="1003" height="595" src="<%=categs[1].prods[0].imgs[1]%>" class="ls-l"
                                    alt="image"
                                    style="top:140px; left:478px; background-size:inherit; background-position:inherit;"
                                    data-ls="durationin:1500; delayin:1300; easingin:easeOutQuint; durationout:1400; parallax:true; parallaxlevel:8; parallaxaxis:both; parallaxdistance:30;">
                                <p style="top:-110px; left:999px; background-size:inherit; background-position:inherit; font-size:24px; border-top:90px solid #5ee16f; border-right:90px solid #e1aa5e; border-bottom:90px solid #e1aa5e; border-left:90px solid #e1aa5e; width:470px; height:470px; border-radius:100%;"
                                    class="ls-l"
                                    data-ls="offsetyin:top; durationin:1400; delayin:500; easingin:easeOutQuint; offsetyout:top; durationout:1100; fadeout:false; parallax:true; parallaxlevel:5; parallaxaxis:both; parallaxdistance:20;">
                                </p>
                                <img width="591" height="707" src="<%=categs[1].prods[0].imgs[2]%>" class="ls-l"
                                    alt="image"
                                    style="top:30px; left:1032px; background-size:inherit; background-position:inherit;"
                                    data-ls="durationin:1400; easingin:easeOutQuint; parallax:true; parallaxlevel:3; parallaxaxis:both; parallaxdistance:15;">

                                <p style="top:586px; left:400px; font-weight:700; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c;"
                                    class="ls-l ls-hide-tablet ls-hide-phone"
                                    data-ls="durationin:1200; easingin:easeOutQuint; rotatexin:90; transformoriginin:50% 0% 0; durationout:1300; easingout:easeOutQuint; rotatexout:90; transformoriginout:50% 100% 0;">
                                    02</p>
                                <p style="top:585px; left:430px; font-weight:500; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c;"
                                    class="ls-l ls-hide-tablet ls-hide-phone" data-ls="static:forever;">/</p>
                                <p style="top:586px; left:450px; font-weight:500; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c;"
                                    class="ls-l ls-hide-tablet ls-hide-phone" data-ls="static:forever;">03</p>
                                <a class="ls-l ls-hide-tablet ls-hide-phone" href="#next" target="_self"
                                    data-ls="hover:true; hovercolor:#e1aa5e; static:forever;">
                                    <div style="top:586px; left:500px; background-size:inherit; background-position:inherit; font-size:20px; color:#2c2c2c;"
                                        class=""><i class="fas fa-caret-right"></i></div>
                                </a>
                                <a class="ls-l ls-hide-tablet ls-hide-phone" href="#prev" target="_self"
                                    data-ls="hover:true; hovercolor:#e1aa5e; static:forever;">
                                    <div style="top:586px; left:361px; background-size:inherit; background-position:inherit; font-size:20px; color:#2c2c2c;"
                                        class=""><i class="fas fa-caret-left"></i></div>
                                </a>
                                <p style="top:205px; left:360px; font-weight:600; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c; letter-spacing:3px;"
                                    class="ls-l ls-hide-tablet ls-hide-phone"
                                    data-ls="offsetxin:-100; durationin:1200; delayin:800; easingin:easeOutQuint; transformoriginin:0% 50% 0; offsetxout:-100; minfontsize:16;">
                                    <%=categs[1].prods[0].name[lang] %>
                                </p>
                                <h1 style="top:342px; left:360px; font-weight:500; background-size:inherit; background-position:inherit; font-size:100px; font-family:Jost; color:#2c2c2c;"
                                    class="ls-l ls-hide-phone"
                                    data-ls="offsetxin:-100; durationin:1300; delayin:1200; easingin:easeOutQuint; offsetxout:-100;">
                                    <%=categs[1].name[lang] %>
                                </h1>
                                <!-- <p style="top:190px; left:360px; font-weight:600; background-size:inherit; background-position:inherit; font-family:Jost; color:#2c2c2c; font-size:26px; letter-spacing:3px;"
                            class="ls-l ls-hide-desktop ls-hide-phone"
                            data-ls="offsetxin:-100; durationin:1200; delayin:800; easingin:easeOutQuint; transformoriginin:0% 50% 0; offsetxout:-100;">
                            New Arrivals 2022</p>
                        <h1 style="top:212px; left:150px; font-weight:500; background-size:inherit; background-position:inherit; font-size:170px; font-family:Jost; color:#2c2c2c;"
                            class="ls-l ls-hide-desktop ls-hide-tablet"
                            data-ls="offsetxin:-100; durationin:1300; delayin:1000; easingin:easeOutQuint; offsetxout:-100;">
                            Trendy
                        </h1>
                        <h1 style="top:402px; left:150px; font-weight:500; background-size:inherit; background-position:inherit; font-size:170px; font-family:Jost; color:#2c2c2c;"
                            class="ls-l ls-hide-desktop ls-hide-tablet"
                            data-ls="offsetxin:-100; durationin:1300; delayin:1200; easingin:easeOutQuint; offsetxout:-100;">
                            Collection
                        </h1> -->
                            </div>
                            <%}%>
                                <%}%>
                                    <% if(categs[2]){%>
                                        <%if(categs[2].prods[0]){%>
                                            <div class="ls-slide"
                                                data-ls="bgcolor:#edece7; duration:10000; transition2d:5; timeshift:5000; kenburnsscale:1.2;">

                                                <img width="245" height="477" src="<%=categs[2].prods[0].imgs[0]%>"
                                                    class="ls-l" alt="image"
                                                    style="top:520px; left:-25px; background-size:inherit; background-position:inherit;"
                                                    data-ls="offsetxin:left; durationin:1400; delayin:1400; easingin:easeOutQuint; offsetxout:left; easingout:easeOutQuint; parallax:true; parallaxlevel:9; parallaxaxis:both;">
                                                <img width="1003" height="595" src="<%=categs[2].prods[0].imgs[1]%>"
                                                    class="ls-l" alt="image"
                                                    style="top:140px; left:478px; background-size:inherit; background-position:inherit;"
                                                    data-ls="durationin:1500; delayin:1300; easingin:easeOutQuint; durationout:1400; parallax:true; parallaxlevel:8; parallaxaxis:both; parallaxdistance:30;">
                                                <p style="top:-110px; left:999px; background-size:inherit; background-position:inherit; font-size:24px; border-top:90px solid #5ee16f; border-right:90px solid #e1aa5e; border-bottom:90px solid #e1aa5e; border-left:90px solid #e1aa5e; width:470px; height:470px; border-radius:100%;"
                                                    class="ls-l"
                                                    data-ls="offsetyin:top; durationin:1400; delayin:500; easingin:easeOutQuint; offsetyout:top; durationout:1100; fadeout:false; parallax:true; parallaxlevel:5; parallaxaxis:both; parallaxdistance:20;">
                                                </p>
                                                <img width="591" height="707" src="<%=categs[2].prods[0].imgs[2]%>"
                                                    class="ls-l" alt="image"
                                                    style="top:30px; left:1032px; background-size:inherit; background-position:inherit;"
                                                    data-ls="durationin:1400; easingin:easeOutQuint; parallax:true; parallaxlevel:3; parallaxaxis:both; parallaxdistance:15;">

                                                <p style="top:586px; left:400px; font-weight:700; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c;"
                                                    class="ls-l ls-hide-tablet ls-hide-phone"
                                                    data-ls="durationin:1200; easingin:easeOutQuint; rotatexin:90; transformoriginin:50% 0% 0; durationout:1300; easingout:easeOutQuint; rotatexout:90; transformoriginout:50% 100% 0;">
                                                    02</p>
                                                <p style="top:585px; left:430px; font-weight:500; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c;"
                                                    class="ls-l ls-hide-tablet ls-hide-phone" data-ls="static:forever;">
                                                    /
                                                </p>
                                                <p style="top:586px; left:450px; font-weight:500; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c;"
                                                    class="ls-l ls-hide-tablet ls-hide-phone" data-ls="static:forever;">
                                                    03
                                                </p>
                                                <a class="ls-l ls-hide-tablet ls-hide-phone" href="#next" target="_self"
                                                    data-ls="hover:true; hovercolor:#e1aa5e; static:forever;">
                                                    <div style="top:586px; left:500px; background-size:inherit; background-position:inherit; font-size:20px; color:#2c2c2c;"
                                                        class=""><i class="fas fa-caret-right"></i></div>
                                                </a>
                                                <a class="ls-l ls-hide-tablet ls-hide-phone" href="#prev" target="_self"
                                                    data-ls="hover:true; hovercolor:#e1aa5e; static:forever;">
                                                    <div style="top:586px; left:361px; background-size:inherit; background-position:inherit; font-size:20px; color:#2c2c2c;"
                                                        class=""><i class="fas fa-caret-left"></i></div>
                                                </a>
                                                <p style="top:205px; left:360px; font-weight:600; background-size:inherit; background-position:inherit; font-size:16px; font-family:Jost; color:#2c2c2c; letter-spacing:3px;"
                                                    class="ls-l ls-hide-tablet ls-hide-phone"
                                                    data-ls="offsetxin:-100; durationin:1200; delayin:800; easingin:easeOutQuint; transformoriginin:0% 50% 0; offsetxout:-100; minfontsize:16;">
                                                    <%=categs[2].prods[0].name[lang] %>
                                                </p>
                                                <h1 style="top:342px; left:360px; font-weight:500; background-size:inherit; background-position:inherit; font-size:100px; font-family:Jost; color:#2c2c2c;"
                                                    class="ls-l ls-hide-phone"
                                                    data-ls="offsetxin:-100; durationin:1300; delayin:1200; easingin:easeOutQuint; offsetxout:-100;">
                                                    <%=categs[2].name[lang] %>
                                                </h1>
                                                <!-- <p style="top:190px; left:360px; font-weight:600; background-size:inherit; background-position:inherit; font-family:Jost; color:#2c2c2c; font-size:26px; letter-spacing:3px;"
                                class="ls-l ls-hide-desktop ls-hide-phone"
                                data-ls="offsetxin:-100; durationin:1200; delayin:800; easingin:easeOutQuint; transformoriginin:0% 50% 0; offsetxout:-100;">
                                New Arrivals 2022</p>
                            <h1 style="top:212px; left:150px; font-weight:500; background-size:inherit; background-position:inherit; font-size:170px; font-family:Jost; color:#2c2c2c;"
                                class="ls-l ls-hide-desktop ls-hide-tablet"
                                data-ls="offsetxin:-100; durationin:1300; delayin:1000; easingin:easeOutQuint; offsetxout:-100;">
                                Trendy
                            </h1>
                            <h1 style="top:402px; left:150px; font-weight:500; background-size:inherit; background-position:inherit; font-size:170px; font-family:Jost; color:#2c2c2c;"
                                class="ls-l ls-hide-desktop ls-hide-tablet"
                                data-ls="offsetxin:-100; durationin:1300; delayin:1200; easingin:easeOutQuint; offsetxout:-100;">
                                Collection
                            </h1> -->
                                            </div>
                                            <%}%>
                                                <%}%>

        </div>
        </div>
    </section>
    <!--==============================
    Banner Card Area
    ==============================-->
    <section class=" ">
        <div class="container-lg">
            <div class="banner-wrap-style1 row">
                <% if(offers.length> 0){ %>
                    <% offers.forEach(f=>{ %>
                        <div class="col-lg-4 col-md-6">
                            <div class="banner_style3 mega-hover">
                                <div class="banner_img">
                                    <img src="<%= f.imgs[0] %>" alt="Offer Image">
                                </div>
                                <div class="banner_content">
                                    <h3 class="banner_title"><strong>-<%=f.offer %> % Off</strong>
                                        <%= (lang=="ar" ) ? f.name.ar : f.name.en %>
                                    </h3>
                                    <a href="shop.html" class="line-btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <%})%>
                            <%} %>
            </div>
        </div>
    </section>
    <!--==============================
    Category Area  
    ==============================-->
    <section class="space-extra-top">
        <div class="container">
            <div class="title-area text-center">
                <h2 class="sec-title">Get your Fashion style</h2>
                <p class="sub-title fs-xs">Our campaigns, the latest trends and new collections</p>
                <div class="sec-line"></div>
            </div>
            <div class="row vs-carousel gx-10 cat-media_slider" data-slide-show="5" data-lg-slide-show="4"
                data-md-slide-show="3" data-sm-slide-show="2" data-xs-slide-show="2" data-arrows="true">
                <% categs.forEach(c=>{ %>
                    <div class="col-xl-3">
                        <div class="cat-media">
                            <!-- <span class="badge">8</span> -->
                            <div class="cat-media_icon">
                                <a href="shop.html"><img src="<%= c.img %>" alt="Cat Icon"></a>
                            </div>
                            <div class="media-body">
                                <span class="badge">
                                    <%=c.prods.length %>
                                </span>
                                <h3 class="cat-media_cat"><a href="shop.html" class="text-inherit">
                                        <%= c.name[lang] %>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <%})%>
            </div>
        </div>
    </section>
    <!--==============================
    Banner Area
    ==============================-->
    <section class="space-extra-top">
        <div class="container pb-10">
            <div class="row gx-20">
                <% if(categs[0]){%>
                    <div class="col-md-6 mb-20">
                        <div class="banner mega-hover">
                            <div class="banner_img overflow-hidden">
                                <img src="<%=categs[0].img%>" alt="Offer Banner" class="w-100">
                            </div>
                            <div class="banner_style1 bg-theme">
                                <!-- حق الدائراء الاصفرا فوق الصوره
                        <h3 class="banner_title text-white">Extended <strong>Dress</strong></h3>
                        <span class="banner_label text-white">Outer Wear</span>
                        -->
                            </div>
                        </div>
                    </div>
                    <%}%>
                        <div class="col-md-6">
                            <% if(categs[1]){%>
                                <div class="banner_style3 mega-hover mb-20">
                                    <div class="banner_img">
                                        <img src="<%=categs[1].img%>" alt="Offer Image">
                                    </div>
                                    <div class="banner_content">
                                        <h3 class="banner_title mb-0"><strong>
                                                <%= categs[1].name[lang] %>
                                            </strong></h3>
                                        <!-- <span class="banner_label">TRENDING 2022</span>
                                                <a href="shop.html" class="line-btn hover-white">Shop Now</a> -->
                                    </div>
                                </div>
                                <%}%>
                                    <% if(categs[2]){%>
                                        <div class="banner_style3 mega-hover mb-20">
                                            <div class="banner_img">
                                                <img src="<%=categs[2].img%>" alt="Offer Image">
                                            </div>
                                            <div class="banner_content">
                                                <h3 class="banner_title mb-0"><strong>
                                                        <%= categs[2].name[lang]%>
                                                    </strong></h3>
                                                <span class="banner_label">TRENDING 2022</span>
                                                <a href="shop.html" class="line-btn hover-white">Shop Now</a>
                                            </div>
                                        </div>
                                        <%}%>
                        </div>
            </div>
        </div>
    </section>
    <!--==============================
    Featured Products Area
    ==============================-->
    <section class="space-extra">
        <div class="container">
            <div class="title-area">
                <h2 class="sec-title">Feature Products</h2>
                <p class="sub-title">Our campaigns, the latest trends and new collections</p>
                <div class="sec-line"></div>
            </div>
        </div>
        <div class="container-fluid px-30 vs_hd_container">
            <div class="row vs-carousel" data-slide-show="5" data-xl-slide-show="4" data-lg-slide-show="3"
                data-md-slide-show="3">
                <% categs.forEach(c=>{ %>
                    <% if(c.prods.length> 0){ %>
                        <%let p=c.prods[Math.floor(Math.random()*c.prods.length)] %>

                            <div class="col-xl-3">
                                <div class="vs-product product_layout1">
                                    <div class="product-img">
                                        <a href="shop-details.html"><img src="<%=p.imgs[0]%>" alt="featued"></a>
                                        <div class="actions">
                                            <%if(user){%>
                                                <a href="/add-card/<%=p._id%>/<%=c._id%>/<%=user._id%>"
                                                    class="icon-btn style2"><i class="fal fa-shopping-bag"></i></a>
                                                <%}%>
                                                    <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                                    <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title"><a href="shop-details.html" class="text-inherit"></a>
                                            <%=p.name[lang]%>
                                                </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>

                            <%}%>
                                <%})%>
            </div>


        </div>
    </section>
    <!--==============================
    Discount Area
    ==============================-->
    <section class=" ">
        <!--حق صورة مقاس 618*487-->
        <!--
        <div class="container">
            <div class="discount-wrap">
                <div class="row">
                    <div class="col-md-7 align-self-end text-center text-lg-start">
                        <div class="pt-3">
                            <img src="/assets/img/offer/count-down-banner.png" alt="Discount Banner">
                        </div>
                    </div>
                -->

        <div class="ms-lg-5 ms-xl-0 col-md-auto align-self-center">
            <div class="discount-content text-center">
                <span class="discount-label">Limited Time Offer!</span>
                <div class="discount-total">40<sup>%</sup><span class="text-theme fw-light"> Off</span></div>
                <h2 class="discount-title">with <span class="text-theme">promot code</span></h2>
                <ul class="offer-counter counter-list" data-offer-date="12/08/2023">
                    <li>
                        <div class="day count-number ">00</div>
                        <span class="count-name">Days</span>
                    </li>
                    <li>
                        <div class="hour count-number ">00</div>
                        <span class="count-name">Hours</span>
                    </li>
                    <li>
                        <div class="minute count-number ">00</div>
                        <span class="count-name">Minutes</span>
                    </li>
                </ul>
                <a href="shop.html" class="line-btn">View Offer</a>
            </div>
        </div>
        </div>
        </div>
        </div>
    </section>
    <!--==============================
    New Collection Area
    ==============================-->
    <!--حق new collection -->
    <!--
    <section class="space-top space-extra-bottom">
        <div class="container">
            <div class="title-area text-center">
                <h2 class="sec-title">New Collection</h2>
                <p class="sec-text">Latest Collection and Bold</p>
                <div class="sec-line"></div>
            </div>
        </div>
        <div class="container vs_container">
            <div class="row">
                <div class="col-xl-auto">
                    <div class="banner_style2">
                        <div class="banner_img">
                            <img src="/assets/img/banner/banner-1-1.jpg" alt="Banner Image">
                        </div>
                        <div class="banner_content">
                            <span class="banner_label">Trending 2022</span>
                            <h2 class="banner_title">Start With The Best Sellers</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl">
                    <div class="row pt-30 pt-xl-0">
                        <div class="col-6">
                            <div class="vs-product product_layout1 style2">
                                <div class="product-img">
                                    <span class="tag-style1">Sale</span>
                                    <a href="shop-details.html"><img src="/assets/img/featued/featued-2-1.jpg" alt="featued"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="shop-details.html" class="text-inherit">Shearling jacket</a></h3>
                                    <span class="product-price">$145.90</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="vs-product product_layout1 style2">
                                <div class="product-img">
                                    <span class="tag-style1">Sale</span>
                                    <a href="shop-details.html"><img src="/assets/img/featued/featued-2-2.jpg" alt="featued"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="shop-details.html" class="text-inherit">Shearling Sweater</a></h3>
                                    <span class="product-price">$199.90</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="vs-product product_layout1 style2">
                                <div class="product-img">
                                    <span class="tag-style1">Sale</span>
                                    <a href="shop-details.html"><img src="/assets/img/featued/featued-2-3.jpg" alt="featued"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="shop-details.html" class="text-inherit">Shorts jacket</a></h3>
                                    <span class="product-price">$300.90</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="vs-product product_layout1 style2">
                                <div class="product-img">
                                    <span class="tag-style1">Sale</span>
                                    <a href="shop-details.html"><img src="/assets/img/featued/featued-2-4.jpg" alt="featued"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="shop-details.html" class="text-inherit">Hoodie jacket</a></h3>
                                    <span class="product-price">$120.90</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

-->
    <hr class="hr_style3 m-0">
    <!--==============================
    Brand Area
    ==============================-->
    <section class="space">
        <div class="container">
            <div class="title-area text-center">
                <h2 class="sec-title">Brands We Love</h2>
                <p class="sub-title">Our campaigns, the latest trends and new collections</p>
                <div class="sec-line"></div>
            </div>
            <div class="row vs-carousel text-center" data-slide-show="5" data-md-slide-show="4" data-sm-slide-show="3">
                <div class="col-auto">
                    <div class="vs-brand">
                        <img src="/assets/img/brand/b-1-1.png" alt="Brand Image">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="vs-brand">
                        <img src="/assets/img/brand/b-1-2.png" alt="Brand Image">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="vs-brand">
                        <img src="/assets/img/brand/b-1-3.png" alt="Brand Image">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="vs-brand">
                        <img src="/assets/img/brand/b-1-4.png" alt="Brand Image">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="vs-brand">
                        <img src="/assets/img/brand/b-1-5.png" alt="Brand Image">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="vs-brand">
                        <img src="/assets/img/brand/b-1-1.png" alt="Brand Image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="hr_style3 m-0">
    <!--==============================
    Testimonial Area
    ==============================-->
    <section class="space-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-6">
                    <div class="vs-carousel" data-slide-show="1" data-md-slide-show="1" data-sm-slide-show="1"
                        data-xs-slide-show="1" data-arrows="true">
                        <div class="testi_card">
                            <div class="testi_card_quote"><img src="/assets/img/icon/quote.png" alt="Quote Icon">
                            </div>
                            <p class="testi_card_text">Great for swimming and especially if there are rocks and
                                uneven
                                terrain. They stay snug on your feet while swimming and dry quickly. I wear them
                                on
                                my
                                offshore fishing boat. Very comfortable.</p>
                            <h5 class="testi_card_name">Harry Tube</h5>
                        </div>
                        <div class="testi_card">
                            <div class="testi_card_quote"><img src="/assets/img/icon/quote.png" alt="Quote Icon">
                            </div>
                            <p class="testi_card_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed
                                do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam,
                                quis nostrud exercitation ullamco</p>
                            <h5 class="testi_card_name">Vivi Marian</h5>
                        </div>
                        <div class="testi_card">
                            <div class="testi_card_quote"><img src="/assets/img/icon/quote.png" alt="Quote Icon">
                            </div>
                            <p class="testi_card_text">The passage experienced a surge in popularity during the
                                1960s
                                when Letraset used it on their dry-transfer sheets, and again during the 90s as
                                desktop
                                publishers bundled the text with their.</p>
                            <h5 class="testi_card_name">Jerrzy Lamot</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
    Features Area
    ==============================-->
    <section class="space-extra">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-md-4 col-xl-auto">
                    <div class="feature_card">
                        <div class="feature_card_icon">
                            <img src="/assets/img/icon/feature-1-1.png" alt="feature icon">
                        </div>
                        <h3 class="feature_card_title">Find the Perfect Fit</h3>
                        <p class="feature_card_text">Everybody is different, which is why we offer styles for
                            every
                            body.</p>
                    </div>
                </div>
                <div class="col-md-4 col-xl-auto">
                    <div class="feature_card">
                        <div class="feature_card_icon">
                            <img src="/assets/img/icon/feature-1-2.png" alt="feature icon">
                        </div>
                        <h3 class="feature_card_title">Free Exchanges</h3>
                        <p class="feature_card_text">Everybody is different, which is why we offer styles for
                            every
                            body.</p>
                    </div>
                </div>
                <div class="col-md-4 col-xl-auto">
                    <div class="feature_card">
                        <div class="feature_card_icon">
                            <img src="/assets/img/icon/feature-1-3.png" alt="feature icon">
                        </div>
                        <h3 class="feature_card_title">Contact Our Seller</h3>
                        <p class="feature_card_text">Everybody is different, which is why we offer styles for
                            every
                            body.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
    Galley Area
    ==============================-->
    <div class=" ">
        <div class="container-fluid px-xxl-2">
            <div class="row gx-0 vs-carousel" data-slide-show="6" data-lg-slide-show="4" data-md-slide-show="3">
                <div class="col-2">
                    <div class="gallery_card image-scale-hover">
                        <div class="gallery_card_img">
                            <img src="/assets/img/gallery/g-1-1.jpg" alt="Gallery Image">
                        </div>
                        <a href="/assets/img/gallery/g-1-1.jpg" class="gallery_card_icon popup-image"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="gallery_card image-scale-hover">
                        <div class="gallery_card_img">
                            <img src="/assets/img/gallery/g-1-2.jpg" alt="Gallery Image">
                        </div>
                        <a href="/assets/img/gallery/g-1-2.jpg" class="gallery_card_icon popup-image"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="gallery_card image-scale-hover">
                        <div class="gallery_card_img">
                            <img src="/assets/img/gallery/g-1-3.jpg" alt="Gallery Image">
                        </div>
                        <a href="/assets/img/gallery/g-1-3.jpg" class="gallery_card_icon popup-image"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="gallery_card image-scale-hover">
                        <div class="gallery_card_img">
                            <img src="/assets/img/gallery/g-1-4.jpg" alt="Gallery Image">
                        </div>
                        <a href="/assets/img/gallery/g-1-4.jpg" class="gallery_card_icon popup-image"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="gallery_card image-scale-hover">
                        <div class="gallery_card_img">
                            <img src="/assets/img/gallery/g-1-5.jpg" alt="Gallery Image">
                        </div>
                        <a href="/assets/img/gallery/g-1-5.jpg" class="gallery_card_icon popup-image"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="gallery_card image-scale-hover">
                        <div class="gallery_card_img">
                            <img src="/assets/img/gallery/g-1-6.jpg" alt="Gallery Image">
                        </div>
                        <a href="/assets/img/gallery/g-1-6.jpg" class="gallery_card_icon popup-image"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="gallery_card image-scale-hover">
                        <div class="gallery_card_img">
                            <img src="/assets/img/gallery/g-1-7.jpg" alt="Gallery Image">
                        </div>
                        <a href="/assets/img/gallery/g-1-7.jpg" class="gallery_card_icon popup-image"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
			Footer Area
	==============================-->
    <footer class="footer-wrapper footer-layout1">
        <div class="widget-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-5 col-lg-3">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">Contact Us</h3>
                            <div class="vs-widget-about">
                                <form action="#" class="footer-newsletter">
                                    <p class="form-text">Get on the list so we can stay in touch</p>
                                    <div class="form-group">
                                        <input type="email" id="newsletteremail" name="newsletteremail"
                                            placeholder="Your email address">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                </form>
                                <p class="footer-info"><i class="fas fa-paper-plane"></i><a class="text-inherit"
                                        href="mailto:Vendora@email.com">Vendora@email.com</a></p>
                                <p class="footer-info"><i class="fas fa-phone-alt"></i><a class="text-inherit"
                                        href="tel:703-261-6660">703-261-6660</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto col-md-6 col-lg-auto offset-xl-1">
                        <div class="widget widget_nav_menu  footer-widget">
                            <h3 class="widget_title">Links</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="product.html">Products</a></li>
                                    <li><a href="#">Catalogs</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto col-md-6 col-lg-auto offset-xl-1">
                        <div class="widget widget_nav_menu  footer-widget">
                            <h3 class="widget_title">Services</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping Terms</a></li>
                                    <li><a href="#">Payment Policy</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto col-md-6 col-lg-auto">
                        <div class="widget widget_nav_menu  footer-widget">
                            <h3 class="widget_title">Follow Us On</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i>Facebook</a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i>Twitter</a></li>
                                    <li><a href="#"><i class="far fa-blog"></i>Bebo</a></li>
                                    <li><a href="#"><i class="far fa-basketball-ball"></i>Dribvble</a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i>Instagram</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-auto">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">Shop Address</h3>
                            <div class="footer-map">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115078.21247479583!2d-74.06078298144763!3d40.717427384710724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1636528338849!5m2!1sen!2sbd"
                                    width="400" height="135" style="border:0;" allowfullscreen=""
                                    loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap text-center">
            <p class="mb-0"><i class="fal fa-copyright"></i> 2022 <a class="text-reset" href="index.html">Vendora</a>.
                All rights reserved by <a class="text-reset" href="https://themeforest.net/user/vecuro">Vecuro</a>.
            </p>
        </div>
    </footer>



    <!--********************************
			Code End  Here 
	******************************** -->


    <!-- Scroll To Top -->
    <a href="#" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>



    <!--==============================
        All Js File
    ============================== -->
    <!-- Jquery -->
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- Slick Slider -->
    <script src="/assets/js/slick.min.js"></script>
    <!-- Layerslider -->
    <script src="/assets/js/layerslider.utils.js"></script>
    <script src="/assets/js/layerslider.transitions.js"></script>
    <script src="/assets/js/layerslider.kreaturamedia.jquery.js"></script>
    <!-- Bootstrap -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Magnific Popup -->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Isotope Filter -->
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <!-- Custom Carousel -->
    <script src="/assets/js/vscustom-carousel.min.js"></script>
    <!-- Form Js -->
    <script src="/assets/js/ajax-mail.js"></script>
    <!-- Main Js File -->
    <script src="/assets/js/main.js"></script>
    <!-- my main js -->
    <script src="/asssts/js/index.js"></script>
    </body>

    </html>