<%-include('lay-outs/header.ejs') %>
    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " data-bg-src="/assets/img2/product.jpeg">
        <div class="container z-index-common">
            <div class="breadcumb-content">
                <!-- <h1 class="breadcumb-title">Products</h1> -->
            </div>
            <div class="breadcumb-menu-wrap">
                <ul class="breadcumb-menu">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Product</li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
  Products Category
  ============================== -->
    <section class="space-top">
        <div class="container">
            <div class="row justify-content-between vs-carousel arrow-margin" data-arrows="true" data-slide-show="6"
                data-ml-slide-show="6" data-lg-slide-show="5" data-md-slide-show="4" data-sm-slide-show="3"
                data-xs-slide-show="2">
                <% if(categs){ %>
                    <% categs.forEach(c=>{ %>
                        <div class="col-xl-2">
                            <div class="cat_rounded">
                                <div class="cat-img">
                                    <a href="shop.html"><img src="/<%=c.img%>" alt="Category"></a>
                                </div>
                                <h3 class="cat-name"><a class="text-inherit" href="shop.html">
                                        <%= (lang=='ar' ) ? c.name.ar: c.name.en %>
                                    </a></h3>
                            </div>
                        </div>
                        <%})%>
                            <%}%>
            </div>
        </div>
    </section>
    <!--==============================
    Product Area
    ==============================-->
    <section class="vs-product-wrapper space-extra">
        <div class="container">
            <div class="vs-sort-bar">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-auto">
                        <div class="col-auto">
                            <p class="woocommerce-result-count">Showing 1–12 of 13 results</p>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <div class="row justify-content-center">
                            <div class="col-sm-auto">
                                <form class="woocommerce-ordering" method="get">
                                    <select name="orderby" class="orderby" aria-label="Shop order">
                                        <option value="menu_order" selected="selected">Default Sorting</option>
                                        <option value="popularity">Sort by popularity</option>
                                        <option value="rating">Sort by average rating</option>
                                        <option value="date">Sort by latest</option>
                                        <option value="price">Sort by price: low to high</option>
                                        <option value="price-desc">Sort by price: high to low</option>
                                    </select>
                                </form>
                            </div>
                            <div class="col-auto">
                                <div class="nav" role=tablist>
                                    <a href="#" class="icon-btn active" id="tab-shop-grid" data-bs-toggle="tab"
                                        data-bs-target="#tab-grid" role="tab" aria-controls="tab-grid"
                                        aria-selected="true"><i class="fas fa-th"></i></a>
                                    <a href="#" class="icon-btn" id="tab-shop-list" data-bs-toggle="tab"
                                        data-bs-target="#tab-list" role="tab" aria-controls="tab-grid"
                                        aria-selected="false"><i class="fas fa-list"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade active show" id="tab-grid" role="tabpanel" aria-labelledby="tab-shop-grid">
                    <div class="row">
                        <% categ.prods.forEach( p=>{ %>
                            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="vs-product product_layout4">
                                    <div class="product-img">
                                        <a href="/prod/<%=p._id%>/<%=categ._id%>"><img src="/<%= p.imgs[0]%>"
                                                alt="Product"></a>
                                        <div class="actions">
                                            <a href="cart.html" class="icon-btn style2"><i
                                                    class="fal fa-shopping-bag"></i></a>
                                            <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                            <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title"><a href="shop-details.html">
                                                <%= (lang=='ar' )? p.name.ar : p.name.en %>
                                            </a></h3>
                                    </div>
                                </div>
                            </div>
                            <%})%>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-list" role="tabpanel" aria-labelledby="tab-shop-list">
                    <div class="row">
                        <div class="col-md-6 col-xl-4">
                            <div class="vs-product product_layout12">
                                <div class="product-img">
                                    <div class="product-label">New</div> <a href="shop-details.html"><img
                                            src="/assets/img/product/product-15-1.jpg" alt="Product"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i
                                                class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-category">
                                        <a href="shop.html">Latest</a>
                                    </div>
                                    <h3 class="product-title"><a href="shop-details.html">Pink Womens Neckles</a></h3>
                                    <div class="product-price">$159.00</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="vs-product product_layout12">
                                <div class="product-img">
                                    <a href="shop-details.html"><img src="/assets/img/product/product-15-2.jpg"
                                            alt="Product"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i
                                                class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-category">
                                        <a href="shop.html">Men Shoes</a>
                                    </div>
                                    <h3 class="product-title"><a href="shop-details.html">Handbag Leather Cloth</a></h3>
                                    <div class="product-price">$159.00 <del>$200.99</del></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="vs-product product_layout12">
                                <div class="product-img">
                                    <div class="product-label">New</div> <a href="shop-details.html"><img
                                            src="/assets/img/product/product-15-3.jpg" alt="Product"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i
                                                class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-category">
                                        <a href="shop.html">Women Thing</a>
                                    </div>
                                    <h3 class="product-title"><a href="shop-details.html">iPhone Headset Bluetooth</a>
                                    </h3>
                                    <div class="product-price">$1230.90</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="vs-product product_layout12">
                                <div class="product-img">
                                    <a href="shop-details.html"><img src="/assets/img/product/product-15-4.jpg"
                                            alt="Product"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i
                                                class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-category">
                                        <a href="shop.html">Popular</a>
                                    </div>
                                    <h3 class="product-title"><a href="shop-details.html">Crown Tiara Clothing</a></h3>
                                    <div class="product-price">$230.90</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="vs-product product_layout12">
                                <div class="product-img">
                                    <a href="shop-details.html"><img src="/assets/img/product/product-15-5.jpg"
                                            alt="Product"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i
                                                class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-category">
                                        <a href="shop.html">Top Rated</a>
                                    </div>
                                    <h3 class="product-title"><a href="shop-details.html">Key Chains transparent</a>
                                    </h3>
                                    <div class="product-price">$159.00</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="vs-product product_layout12">
                                <div class="product-img">
                                    <div class="product-label">New</div> <a href="shop-details.html"><img
                                            src="/assets/img/product/product-15-6.jpg" alt="Product"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i
                                                class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-category">
                                        <a href="shop.html">Women Thing</a>
                                    </div>
                                    <h3 class="product-title"><a href="shop-details.html">X Screen Protectors</a></h3>
                                    <div class="product-price">$159.00 <del>$200.99</del></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="vs-product product_layout12">
                                <div class="product-img">
                                    <div class="product-label">New</div> <a href="shop-details.html"><img
                                            src="/assets/img/product/product-15-7.jpg" alt="Product"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i
                                                class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-category">
                                        <a href="shop.html">Latest</a>
                                    </div>
                                    <h3 class="product-title"><a href="shop-details.html">Crown Tiara Clothing</a></h3>
                                    <div class="product-price">$1230.90</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="vs-product product_layout12">
                                <div class="product-img">
                                    <a href="shop-details.html"><img src="/assets/img/product/product-15-8.jpg"
                                            alt="Product"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i
                                                class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-category">
                                        <a href="shop.html">Colorful</a>
                                    </div>
                                    <h3 class="product-title"><a href="shop-details.html">Silver Apple Mac Mini</a></h3>
                                    <div class="product-price">$230.90</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="vs-product product_layout12">
                                <div class="product-img">
                                    <div class="product-label">New</div> <a href="shop-details.html"><img
                                            src="/assets/img/product/product-15-9.jpg" alt="Product"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i
                                                class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-category">
                                        <a href="shop.html">Men Shoes</a>
                                    </div>
                                    <h3 class="product-title"><a href="shop-details.html">Gold Finger Ring</a></h3>
                                    <div class="product-price">$230.90</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vs-pagination pt-20 pb-30">
                <ul>
                    <!-- <li><a href="#"><i class="far fa-chevron-left"></i></a></li> -->
                    <% for(let i=0; i<=pagNum; i++ ){%>
                        <li><a href="/prods/<%=categ._id%>/?start=0&end=10">
                                <%= i+1%>
                            </a></li>
                        <%}%>
                            <!-- <li><a href="#"><i class="far fa-chevron-right"></i></a></li> -->
                </ul>
            </div>
        </div>
    </section>
    <!--==============================
			Footer Area
	==============================-->
    <footer class="footer-wrapper footer-layout3" data-bg-src="/assets/img/bg/footer-bg-3-1.jpg">
        <div class="widget-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-sm-6 col-md-6 col-lg-auto">
                        <div class="widget  footer-widget">
                            <h3 class="widget_title">Office</h3>
                            <div class="vs-widget-about">
                                <p class="footer-info">29 Holles Place, Dublin 2 D02 YY46</p>
                                <p class="footer-info">68 Jay Street, Suite 902 New Side Brooklyn, NY 11201</p>
                                <p class="footer-info">United States</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-auto">
                        <div class="widget widget_nav_menu  footer-widget">
                            <h3 class="widget_title">Useful Links</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="#">Customer Rating</a></li>
                                    <li><a href="#">Top Product</a></li>
                                    <li><a href="#">Weekly Best Items</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Latest Posts</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-auto">
                        <div class="widget widget_nav_menu  footer-widget">
                            <h3 class="widget_title">Quick Links</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="#">Why Buy From Us?</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Store Locator</a></li>
                                    <li><a href="#">About Blue John</a></li>
                                    <li><a href="#">About Whitby Jet</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-auto">
                        <div class="widget widget_nav_menu  footer-widget">
                            <h3 class="widget_title">Services</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="#">Make an Appointment</a></li>
                                    <li><a href="#">Jewellery Design Service</a></li>
                                    <li><a href="#">Jewellery Repairs</a></li>
                                    <li><a href="#">Price Match Promise</a></li>
                                    <li><a href="#">Trade Your Watch</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright-wrap text-center">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-auto">
                        <p class="mb-0"><i class="fal fa-copyright"></i> 2022 <a class="text-reset"
                                href="index.html">Vendora</a>. All rights reserved by <a class="text-reset"
                                href="https://themeforest.net/user/vecuro">Vecuro</a>.</p>
                    </div>
                    <div class="col-md-auto d-none d-md-block">
                        <img src="/assets/img/footer/card-2.png" alt="Footer Image">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--********************************
			Code End  Here 
	******************************** -->


    <!-- Scroll To Top -->
    <a href="#" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>



    <!--==============================
        All Js File
    ============================== -->
    <!-- Jquery -->
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- Slick Slider -->
    <script src="/assets/js/slick.min.js"></script>
    <!-- Layerslider -->
    <script src="/assets/js/layerslider.utils.js"></script>
    <script src="/assets/js/layerslider.transitions.js"></script>
    <script src="/assets/js/layerslider.kreaturamedia.jquery.js"></script>
    <!-- Bootstrap -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Magnific Popup -->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Isotope Filter -->
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <!-- Custom Carousel -->
    <script src="/assets/js/vscustom-carousel.min.js"></script>
    <!-- Form Js -->
    <script src="/assets/js/ajax-mail.js"></script>
    <!-- Main Js File -->
    <script src="/assets/js/main.js"></script>

    </body>

    </html>