<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Products</title>
    <meta name="author" content="Vecuro">
    <meta name="description" content="Products">
    <meta name="keywords" content="Products" />
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap" rel="stylesheet">


    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
    <!-- Layerslider -->
    <link rel="stylesheet" href="/assets/css/layerslider.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="/assets/css/slick.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body class="">


    <!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->



    <!--********************************
   		Code Start From Here 
	******************************** -->




    <!--==============================
     Preloader
  ==============================-->
    <div class="preloader  ">
        <button class="vs-btn preloaderCls">Cancel Preloader </button>
        <div class="preloader-inner">
            <img src="/assets/img/logo.png" alt="Vendora">
            <span class="loader"></span>
        </div>
    </div>
    <!--
    <div class="popup-newsletter-active popup-newsletter-wrap show">
        <div class="popup-newsletter">
            <button class="popup-newsletter-closer"><i class="fal fa-times"></i></button>
            <div class="newsletter-img">
                <img src="/assets/img/banner/popup-banner-1.jpg" alt="Banner">
            </div>
            <div class="newsletter-content">
                <span class="newsletter-subtitle">Newsletter</span>
                <h2 class="newsletter-title h3">Be The First To Know</h2>
                <p class="newsletter-text">Sign up for emails to get our latest updates</p>
                <input type="text" class="form-control" placeholder="Your Email Address">
                <button class="vs-btn style7">Subscribe Now</button>
            </div>
        </div>
    </div>
-->
    <!--==============================
    Mobile Menu
  ============================== -->
    <div class="vs-menu-wrapper">
        <div class="vs-menu-area text-center">
            <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="index.html"><img src="/assets/img2/logoawani.png" alt="Products"></a>
            </div>
            <!-- هذا لسته تطلع اذا كانت الصفحة صغيره -->
            <div class="vs-mobile-menu">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="index.html">Home</a>
                        <!--
                        <ul class="sub-menu">
                            <li><a href="index.html">Home v1 - Fashion</a></li>
                            <li><a href="index-2.html">Home v2 - Electronic</a></li>
                            <li><a href="index-3.html">Home v3 - Organic Food</a></li>
                            <li><a href="index-4.html">Home v4 - Furniture</a></li>
                            <li><a href="index-5.html">Home v5 - Wine</a></li>
                            <li><a href="index-6.html">Home v6 - Shoes</a></li>
                            <li><a href="index-7.html">Home v7 - Interior Furniture</a></li>
                            <li><a href="index-8.html">Home v8 - Bags & Eyeware</a></li>
                            <li><a href="index-9.html">Home v9 - Jewellery & Watches</a></li>
                            <li><a href="index-10.html">Home v10 - Market</a></li>
                            <li><a href="index-11.html">Home v11 - Medical</a></li>
                        </ul>
                    -->
                    </li>
                    <li>
                        <a href="about.html">About Us</a>
                    </li>

                    </li>
                    <li class="menu-item-has-children">
                        <a href="product.html">Products</a>
                        <ul class="sub-menu">
                            <li><a href="product.html">All Products</a></li>
                            <li><a href="kitchenware.html">kitchenware</a></li>
                            <li><a href="shelves.html">Shelves</a></li>
                            <li><a href="chairs.html">Chairs</a></li>
                            <li><a href="toys.html">Toys</a></li>
                            <li><a href="drawers.html">Drawers</a></li>
                            <li><a href="storages.html">Storages</a></li>
                            <li><a href="basin.html">Basin</a></li>
                            <li><a href="laundry.html">Laundry</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Catalogs</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
    Header Area
    ==============================-->
    <header class="vs-header header-layout5">
        <div class="header-top">
            <div class="container">
                <div class="row align-items-center justify-content-center justify-content-lg-between">
                    <div class="col-auto d-none d-lg-block">
                        <p class="header-text">Join our showroom and get 25 % off ! Coupon code : Bangol45</p>
                    </div>
                    <div class="col-auto">
                        <div class="header-top-links">
                            <ul>
                                <li>
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1"
                                        data-bs-toggle="dropdown" aria-expanded="false">Language</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                        <li>
                                            <a href="#">English</a>
                                            <a href="#">العربية</a>
                                        </li>
                                    </ul>
                                </li>
                                <!--
                                <li>
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false">Currency</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                                        <li><a href="#">AED</a></li>
                                        <li><a href="#">BDT</a></li>
                                        <li><a href="#">ERN</a></li>
                                        <li><a href="#">EGP</a></li>
                                        <li><a href="#">EUR</a></li>
                                        <li><a href="#">GBP</a></li>
                                        <li><a href="#">USD</a></li>
                                    </ul>
                                </li>
                            -->
                                <li><a href="login.html">Sign in / Register</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-wrapper">
            <div class="sticky-active">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-6 col-sm-auto">
                            <div class="header-logo py-3 py-lg-0">
                                <a href="index.html"><img src="/assets/img2/logoawani.png" alt="Awani"></a>
                            </div>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <nav class="main-menu menu-style4">
                                <ul>
                                    <li class="menu-item-has-children">
                                        <a href="index.html">Home</a>
                                        <!--
                                        <ul class="sub-menu">
                                            <li><a href="index.html">Home v1 - Fashion</a></li>
                                            <li><a href="index-2.html">Home v2 - Electronic</a></li>
                                            <li><a href="index-3.html">Home v3 - Organic Food</a></li>
                                            <li><a href="index-4.html">Home v4 - Furniture</a></li>
                                            <li><a href="index-5.html">Home v5 - Wine</a></li>
                                            <li><a href="index-6.html">Home v6 - Shoes</a></li>
                                            <li><a href="index-7.html">Home v7 - Interior Furniture</a></li>
                                            <li><a href="index-8.html">Home v8 - Bags & Eyeware</a></li>
                                            <li><a href="index-9.html">Home v9 - Jewellery & Watches</a></li>
                                            <li><a href="index-10.html">Home v10 - Market</a></li>
                                            <li><a href="index-11.html">Home v11 - Medical</a></li>
                                        </ul>
                                    -->
                                    </li>
                                    <li>
                                        <a href="about.html">About Us</a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="product.html">Productus</a>
                                        <ul class="sub-menu">
                                            <li><a href="product.html">All Products</a></li>
                                            <li><a href="kitchenware.html">kitchenware</a></li>
                                            <li><a href="shelves.html">Shelves</a></li>
                                            <li><a href="chairs.html">Chairs</a></li>
                                            <li><a href="toys.html">Toys</a></li>
                                            <li><a href="drawers.html">Drawers</a></li>
                                            <li><a href="storages.html">Storages</a></li>
                                            <li><a href="basin.html">Basin</a></li>
                                            <li><a href="laundry.html">Laundry</a></li>
                                        </ul>
                                    </li>
                                    <!--
                                    <li class="menu-item-has-children mega-menu-wrap">
                                        <a href="#">Pages</a>
                                        <ul class="mega-menu">
                                            <li><a href="shop.html">Pagelist 1</a>
                                                <ul>
                                                    <li><a href="index.html">Home v1 - Fashion</a></li>
                                                    <li><a href="index-2.html">Home v2 - Electronic</a></li>
                                                    <li><a href="index-3.html">Home v3 - Organic Food</a></li>
                                                    <li><a href="index-4.html">Home v4 - Furniture</a></li>
                                                    <li><a href="index-5.html">Home v5 - Wine</a></li>
                                                    <li><a href="index-6.html">Home v6 - Shoes</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Pagelist 2</a>
                                                <ul>
                                                    <li><a href="index-7.html">Home v7 - Interior Furniture</a></li>
                                                    <li><a href="index-8.html">Home v8 - Bags & Eyeware</a></li>
                                                    <li><a href="index-9.html">Home v9 - Jewellery & Watches</a></li>
                                                    <li><a href="index-10.html">Home v10 - Market</a></li>
                                                    <li><a href="index-11.html">Home v11 - Medical</a></li>
                                                    <li><a href="about.html">About Us</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Pagelist 3</a>
                                                <ul>
                                                    <li><a href="shop.html">Shop</a></li>
                                                    <li><a href="shop-details.html">Shop Details</a></li>
                                                    <li><a href="cart.html">Shopping Cart</a></li>
                                                    <li><a href="checkout.html">Check Out</a></li>
                                                    <li><a href="login.html">Login Page</a></li>
                                                    <li><a href="signup.html">Registration Page</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Pagelist 4</a>
                                                <ul>
                                                    <li><a href="faq.html">FAQ Page</a></li>
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="blog-details.html">Blog Details</a></li>
                                                    <li><a href="contact.html">Contact Us</a></li>
                                                    <li><a href="error.html">Error Page</a></li>
                                                    <li><a href="coming-soon.html">Coming Soon</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                -->
                                    <li>
                                        <a href="#">Catalogs</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact Us</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-6 col-sm-auto text-end">
                            <div class="header-buttons">
                                <a href="login.html" class="d-none d-lg-inline-block"><i class="fal fa-user"></i></a>
                                <a href="#" class="has-badge"><i class="fal fa-heart"></i><span
                                        class="badge">0</span></a>
                                <div class="header-cart">
                                    <a href="cart.html" class="has-badge"><i class="fal fa-shopping-bag"></i><span
                                            class="badge">0</span></a>
                                    <div class="woocommerce widget_shopping_cart">
                                        <div class="widget_shopping_cart_content">
                                            <ul class="cart_list">
                                                <li class="mini_cart_item">
                                                    <a href="#" class="remove"><i class="far fa-times"></i></a>
                                                    <a href="shop-details.html" class="img"><img
                                                            src="/assets/img/cart/cat-img-1.jpg" alt="Cart Image"></a>
                                                    <a href="shop-details.html" class="product-title">Smart Watch</a>
                                                    <span class="amount">$99.00</span>
                                                    <div class="quantity">
                                                        <button class="quantity-minus qut-btn"><i
                                                                class="far fa-minus"></i></button>
                                                        <input type="number" class="qty-input" value="1" min="1"
                                                            max="99">
                                                        <button class="quantity-plus qut-btn"><i
                                                                class="far fa-plus"></i></button>
                                                    </div>
                                                    <div class="subtotal">
                                                        <span>Subtotal:</span>
                                                        <span class="amount">$99.00</span>
                                                    </div>
                                                </li>
                                                <li class="mini_cart_item">
                                                    <a href="#" class="remove"><i class="far fa-times"></i></a>
                                                    <a href="shop-details.html" class="img"><img
                                                            src="/assets/img/cart/cat-img-2.jpg" alt="Cart Image"></a>
                                                    <a href="shop-details.html" class="product-title">Boss Chair</a>
                                                    <span class="amount">$80.00</span>
                                                    <div class="quantity">
                                                        <button class="quantity-minus qut-btn"><i
                                                                class="far fa-minus"></i></button>
                                                        <input type="number" class="qty-input" value="2" min="1"
                                                            max="99">
                                                        <button class="quantity-plus qut-btn"><i
                                                                class="far fa-plus"></i></button>
                                                    </div>
                                                    <div class="subtotal">
                                                        <span>Subtotal:</span>
                                                        <span class="amount">$160.00</span>
                                                    </div>
                                                </li>
                                            </ul>
                                            <p class="total">
                                                <strong>Subtotal:</strong>
                                                <span class="amount">$259.00</span>
                                            </p>
                                            <p class="buttons">
                                                <a href="cart.html" class="vs-btn">View cart</a>
                                                <a href="checkout.html" class="vs-btn checkout">Checkout</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <button class="vs-menu-toggle d-lg-none"><i class="fal fa-bars"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " data-bg-src="/assets/img/breadcumb/bredcumb-1.png">
        <div class="container z-index-common">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Products</h1>
            </div>
            <div class="breadcumb-menu-wrap">
                <ul class="breadcumb-menu">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Product</li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
  Products Category
  ============================== -->
    <section class="space-top">
        <div class="container">
            <div class="row justify-content-between vs-carousel arrow-margin" data-arrows="true" data-slide-show="6"
                data-ml-slide-show="6" data-lg-slide-show="5" data-md-slide-show="4" data-sm-slide-show="3"
                data-xs-slide-show="2">
                <% if(categs){ %>
                    <% categs.forEach(c=>{ %>
                        <div class="col-xl-2">
                            <div class="cat_rounded">
                                <div class="cat-img">
                                    <a href="shop.html"><img src="/<%=c.img%>" alt="Category"></a>
                                </div>
                                <h3 class="cat-name"><a class="text-inherit" href="shop.html">
                                        <%= (lang=='ar' ) ? c.name.ar: c.name.en %>
                                    </a></h3>
                            </div>
                        </div>
                        <%})%>
                            <%}%>
            </div>
        </div>
    </section>
    <!--==============================
    Product Area
    ==============================-->
    <section class="vs-product-wrapper space-extra">
        <div class="container">
            <div class="vs-sort-bar">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-auto">
                        <div class="col-auto">
                            <p class="woocommerce-result-count">Showing 1–12 of 13 results</p>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <div class="row justify-content-center">
                            <div class="col-sm-auto">
                                <form class="woocommerce-ordering" method="get">
                                    <select name="orderby" class="orderby" aria-label="Shop order">
                                        <option value="menu_order" selected="selected">Default Sorting</option>
                                        <option value="popularity">Sort by popularity</option>
                                        <option value="rating">Sort by average rating</option>
                                        <option value="date">Sort by latest</option>
                                        <option value="price">Sort by price: low to high</option>
                                        <option value="price-desc">Sort by price: high to low</option>
                                    </select>
                                </form>
                            </div>
                            <div class="col-auto">
                                <div class="nav" role=tablist>
                                    <a href="#" class="icon-btn active" id="tab-shop-grid" data-bs-toggle="tab"
                                        data-bs-target="#tab-grid" role="tab" aria-controls="tab-grid"
                                        aria-selected="true"><i class="fas fa-th"></i></a>
                                    <a href="#" class="icon-btn" id="tab-shop-list" data-bs-toggle="tab"
                                        data-bs-target="#tab-list" role="tab" aria-controls="tab-grid"
                                        aria-selected="false"><i class="fas fa-list"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade active show" id="tab-grid" role="tabpanel" aria-labelledby="tab-shop-grid">
                    <div class="row">
                        <% categ.prods.forEach( p=>{ %>
                            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="vs-product product_layout4">
                                    <div class="product-img">
                                        <a href="/prod/<%=p._id%>/<%=categ._id%>"><img src="/<%= p.imgs[0]%>"
                                                alt="Product"></a>
                                        <div class="actions">
                                            <a href="cart.html" class="icon-btn style2"><i
                                                    class="fal fa-shopping-bag"></i></a>
                                            <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                            <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title"><a href="shop-details.html">
                                                <%= (lang=='ar' )? p.name.ar : p.name.en %>
                                            </a></h3>
                                    </div>
                                </div>
                            </div>
                            <%})%>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-list" role="tabpanel" aria-labelledby="tab-shop-list">
                    <div class="row">
                        <div class="col-md-6 col-xl-4">
                            <div class="vs-product product_layout12">
                                <div class="product-img">
                                    <div class="product-label">New</div> <a href="shop-details.html"><img
                                            src="/assets/img/product/product-15-1.jpg" alt="Product"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i
                                                class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-category">
                                        <a href="shop.html">Latest</a>
                                    </div>
                                    <h3 class="product-title"><a href="shop-details.html">Pink Womens Neckles</a></h3>
                                    <div class="product-price">$159.00</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="vs-product product_layout12">
                                <div class="product-img">
                                    <a href="shop-details.html"><img src="/assets/img/product/product-15-2.jpg"
                                            alt="Product"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i
                                                class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-category">
                                        <a href="shop.html">Men Shoes</a>
                                    </div>
                                    <h3 class="product-title"><a href="shop-details.html">Handbag Leather Cloth</a></h3>
                                    <div class="product-price">$159.00 <del>$200.99</del></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="vs-product product_layout12">
                                <div class="product-img">
                                    <div class="product-label">New</div> <a href="shop-details.html"><img
                                            src="/assets/img/product/product-15-3.jpg" alt="Product"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i
                                                class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-category">
                                        <a href="shop.html">Women Thing</a>
                                    </div>
                                    <h3 class="product-title"><a href="shop-details.html">iPhone Headset Bluetooth</a>
                                    </h3>
                                    <div class="product-price">$1230.90</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="vs-product product_layout12">
                                <div class="product-img">
                                    <a href="shop-details.html"><img src="/assets/img/product/product-15-4.jpg"
                                            alt="Product"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i
                                                class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-category">
                                        <a href="shop.html">Popular</a>
                                    </div>
                                    <h3 class="product-title"><a href="shop-details.html">Crown Tiara Clothing</a></h3>
                                    <div class="product-price">$230.90</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="vs-product product_layout12">
                                <div class="product-img">
                                    <a href="shop-details.html"><img src="/assets/img/product/product-15-5.jpg"
                                            alt="Product"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i
                                                class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-category">
                                        <a href="shop.html">Top Rated</a>
                                    </div>
                                    <h3 class="product-title"><a href="shop-details.html">Key Chains transparent</a>
                                    </h3>
                                    <div class="product-price">$159.00</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="vs-product product_layout12">
                                <div class="product-img">
                                    <div class="product-label">New</div> <a href="shop-details.html"><img
                                            src="/assets/img/product/product-15-6.jpg" alt="Product"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i
                                                class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-category">
                                        <a href="shop.html">Women Thing</a>
                                    </div>
                                    <h3 class="product-title"><a href="shop-details.html">X Screen Protectors</a></h3>
                                    <div class="product-price">$159.00 <del>$200.99</del></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="vs-product product_layout12">
                                <div class="product-img">
                                    <div class="product-label">New</div> <a href="shop-details.html"><img
                                            src="/assets/img/product/product-15-7.jpg" alt="Product"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i
                                                class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-category">
                                        <a href="shop.html">Latest</a>
                                    </div>
                                    <h3 class="product-title"><a href="shop-details.html">Crown Tiara Clothing</a></h3>
                                    <div class="product-price">$1230.90</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="vs-product product_layout12">
                                <div class="product-img">
                                    <a href="shop-details.html"><img src="/assets/img/product/product-15-8.jpg"
                                            alt="Product"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i
                                                class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-category">
                                        <a href="shop.html">Colorful</a>
                                    </div>
                                    <h3 class="product-title"><a href="shop-details.html">Silver Apple Mac Mini</a></h3>
                                    <div class="product-price">$230.90</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="vs-product product_layout12">
                                <div class="product-img">
                                    <div class="product-label">New</div> <a href="shop-details.html"><img
                                            src="/assets/img/product/product-15-9.jpg" alt="Product"></a>
                                    <div class="actions">
                                        <a href="cart.html" class="icon-btn style2"><i
                                                class="fal fa-shopping-bag"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-eye"></i></a>
                                        <a href="#" class="icon-btn style2"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-category">
                                        <a href="shop.html">Men Shoes</a>
                                    </div>
                                    <h3 class="product-title"><a href="shop-details.html">Gold Finger Ring</a></h3>
                                    <div class="product-price">$230.90</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vs-pagination pt-20 pb-30">
                <ul>
                    <!-- <li><a href="#"><i class="far fa-chevron-left"></i></a></li> -->
                    <% for(let i=0; i<=pagNum; i++ ){%>
                        <li><a href="/prods/<%=categ._id%>/?start=0&end=10">
                                <%= i+1%>
                            </a></li>
                        <%}%>
                            <!-- <li><a href="#"><i class="far fa-chevron-right"></i></a></li> -->
                </ul>
            </div>
        </div>
    </section>
    <!--==============================
			Footer Area
	==============================-->
    <footer class="footer-wrapper footer-layout3" data-bg-src="/assets/img/bg/footer-bg-3-1.jpg">
        <div class="widget-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-sm-6 col-md-6 col-lg-auto">
                        <div class="widget  footer-widget">
                            <h3 class="widget_title">Office</h3>
                            <div class="vs-widget-about">
                                <p class="footer-info">29 Holles Place, Dublin 2 D02 YY46</p>
                                <p class="footer-info">68 Jay Street, Suite 902 New Side Brooklyn, NY 11201</p>
                                <p class="footer-info">United States</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-auto">
                        <div class="widget widget_nav_menu  footer-widget">
                            <h3 class="widget_title">Useful Links</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="#">Customer Rating</a></li>
                                    <li><a href="#">Top Product</a></li>
                                    <li><a href="#">Weekly Best Items</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Latest Posts</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-auto">
                        <div class="widget widget_nav_menu  footer-widget">
                            <h3 class="widget_title">Quick Links</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="#">Why Buy From Us?</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Store Locator</a></li>
                                    <li><a href="#">About Blue John</a></li>
                                    <li><a href="#">About Whitby Jet</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-auto">
                        <div class="widget widget_nav_menu  footer-widget">
                            <h3 class="widget_title">Services</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="#">Make an Appointment</a></li>
                                    <li><a href="#">Jewellery Design Service</a></li>
                                    <li><a href="#">Jewellery Repairs</a></li>
                                    <li><a href="#">Price Match Promise</a></li>
                                    <li><a href="#">Trade Your Watch</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright-wrap text-center">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-auto">
                        <p class="mb-0"><i class="fal fa-copyright"></i> 2022 <a class="text-reset"
                                href="index.html">Vendora</a>. All rights reserved by <a class="text-reset"
                                href="https://themeforest.net/user/vecuro">Vecuro</a>.</p>
                    </div>
                    <div class="col-md-auto d-none d-md-block">
                        <img src="/assets/img/footer/card-2.png" alt="Footer Image">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--********************************
			Code End  Here 
	******************************** -->


    <!-- Scroll To Top -->
    <a href="#" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>



    <!--==============================
        All Js File
    ============================== -->
    <!-- Jquery -->
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- Slick Slider -->
    <script src="/assets/js/slick.min.js"></script>
    <!-- Layerslider -->
    <script src="/assets/js/layerslider.utils.js"></script>
    <script src="/assets/js/layerslider.transitions.js"></script>
    <script src="/assets/js/layerslider.kreaturamedia.jquery.js"></script>
    <!-- Bootstrap -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Magnific Popup -->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Isotope Filter -->
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <!-- Custom Carousel -->
    <script src="/assets/js/vscustom-carousel.min.js"></script>
    <!-- Form Js -->
    <script src="/assets/js/ajax-mail.js"></script>
    <!-- Main Js File -->
    <script src="/assets/js/main.js"></script>

</body>

</html>